<?xml version="1.0" encoding="utf-8"?>
<Media Key="bba9a487-64ac-4cc1-a446-1330bf8746cf" Alias="Anak General Hospital" Level="2">
  <Info>
    <Parent Key="8f298779-8af1-4e40-9138-7624906348a8">Facilities</Parent>
    <Path>/Facilities/AnakGeneralHospital</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-10-10T11:26:48</CreateDate>
    <NodeName Default="Anak General Hospital" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bbxo4dof/facility-anak-general-hospital.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>