<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb71a9de-a73d-4e12-8182-daeb7864c005" Alias="Breastfeeding" Level="2">
  <Info>
    <Parent Key="2ca1f097-59da-47ce-a44b-bef27d10bb36">Health library</Parent>
    <Path>/HealthLibrary/Breastfeeding</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-10-10T11:14:15</CreateDate>
    <NodeName Default="Breastfeeding" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kfrdotku/health-breastfeeding.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>