<?xml version="1.0" encoding="utf-8"?>
<Media Key="acc1f4fc-d9ea-43e5-90ed-76d75c07ed4c" Alias="Campaigns (from current site)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Campaignsfromcurrentsite</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-30T20:24:22</CreateDate>
    <NodeName Default="Campaigns (from current site)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties />
</Media>