<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3c81042-1bb9-46c1-b854-88cb119840cb" Alias="Eradah Mental Health Complex" Level="2">
  <Info>
    <Parent Key="8f298779-8af1-4e40-9138-7624906348a8">Facilities</Parent>
    <Path>/Facilities/EradahMentalHealthComplex</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-10-10T11:26:48</CreateDate>
    <NodeName Default="Eradah Mental Health Complex" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zxni2boq/facility-eradah-mental-health-complex.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>