<?xml version="1.0" encoding="utf-8"?>
<Media Key="b090a1c4-6218-4cb0-abe8-831283d25817" Alias="Global Hospital Rating" Level="2">
  <Info>
    <Parent Key="c9a4ee76-5109-4f51-a89e-0990f7958411">Accreditations (from current site)</Parent>
    <Path>/AccreditationsFromCurrentSite/GlobalHospitalRating</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-28T09:00:00</CreateDate>
    <NodeName Default="Global Hospital Rating" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lgstpkym/global-hospital-rating.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>