<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ca1f097-59da-47ce-a44b-bef27d10bb36" Alias="Health library" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HealthLibrary</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-10-10T11:14:13</CreateDate>
    <NodeName Default="Health library" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties />
</Media>