<?xml version="1.0" encoding="utf-8"?>
<Media Key="97103803-bc96-4f1e-bacd-5c460b49dccc" Alias="Nairyah General Hospital" Level="2">
  <Info>
    <Parent Key="8f298779-8af1-4e40-9138-7624906348a8">Facilities</Parent>
    <Path>/Facilities/NairyahGeneralHospital</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-10-10T11:26:49</CreateDate>
    <NodeName Default="Nairyah General Hospital" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rtzfmip5/facility-nairyah-general-hospital.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>