<?xml version="1.0" encoding="utf-8"?>
<Media Key="c604afce-a4b5-494b-9693-ca8eb58dfd96" Alias="Sleep Disorders Laboratory at Dammam Medical Complex" Level="2">
  <Info>
    <Parent Key="0b183200-1be3-4794-9eb6-d44d740e995f">News (from current site)</Parent>
    <Path>/Newsfromcurrentsite/SleepDisordersLaboratoryatDammamMedicalComplex</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-30T20:12:22</CreateDate>
    <NodeName Default="Sleep Disorders Laboratory at Dammam Medical Complex" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b513a6da/news-dmc-sleep-disorders-laboratory.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>