<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b183200-1be3-4794-9eb6-d44d740e995f" Alias="News (from current site)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Newsfromcurrentsite</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-30T20:12:22</CreateDate>
    <NodeName Default="News (from current site)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties />
</Media>