<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ec18d7d-ae16-49ca-a6b9-05f254335b38" Alias="Placeholders" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Placeholders</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-26T12:46:49</CreateDate>
    <NodeName Default="Placeholders" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>