<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fea0ade-5f3c-4382-be8e-0257b1e8bf2d" Alias="Placeholder - logo 3" Level="2">
  <Info>
    <Parent Key="7ec18d7d-ae16-49ca-a6b9-05f254335b38">Placeholders</Parent>
    <Path>/Placeholders/PlaceholderLogo3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-09-26T15:28:49</CreateDate>
    <NodeName Default="Placeholder - logo 3" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fs1frdjh/placeholder-logo-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>