<?xml version="1.0" encoding="utf-8"?>
<Media Key="1739b607-1b7c-4493-b798-f6206dd9911d" Alias="Placeholder - logo 5" Level="2">
  <Info>
    <Parent Key="7ec18d7d-ae16-49ca-a6b9-05f254335b38">Placeholders</Parent>
    <Path>/Placeholders/PlaceholderLogo5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-09-26T15:28:49</CreateDate>
    <NodeName Default="Placeholder - logo 5" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ufjx3lh/placeholder-logo-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>