<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ab02a39-0d01-494d-9834-dcae12efc861" Alias="Qatif Central Hospital" Level="2">
  <Info>
    <Parent Key="8f298779-8af1-4e40-9138-7624906348a8">Facilities</Parent>
    <Path>/Facilities/QatifCentralHospital</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-10-10T11:26:46</CreateDate>
    <NodeName Default="Qatif Central Hospital" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w1qpmpdi/facility-qatif-central-hospital.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>