<?xml version="1.0" encoding="utf-8"?>
<Media Key="3395e1ce-cec9-47bd-a0d0-36aebae4b1a2" Alias="دربك وردي - Forward in Pink" Level="2">
  <Info>
    <Parent Key="b30c6583-e887-4f25-8fd4-360ecbd63c40">Campaigns</Parent>
    <Path>/Campaigns/ForwardInPink</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-10-03T17:17:12</CreateDate>
    <NodeName Default="دربك وردي - Forward in Pink" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ievnhbna/pink-october-forward-in-pink.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>