<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b004e1ec-3152-43d6-a858-502f5b777c3a" Alias="EHC.App.Consult" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">استشارة</Translation>
    <Translation Language="en-US">Consult</Translation>
  </Translations>
</Dictionary>