<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="32e8e81c-898b-47d8-b84c-709cdafb4d40" Alias="EHC.Assistant.Library.Keywords" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مقال,مقالات,معلومات,مكتبه,مكتبة,اقرأ,توعيه,توعية,نصائح</Translation>
    <Translation Language="en-US">article,articles,read,learn,library,information,advice,tips</Translation>
  </Translations>
</Dictionary>