<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eac16aaf-c34e-4a7c-ba83-c0a33d8125b1" Alias="EHC.App.Appointments" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المواعيد</Translation>
    <Translation Language="en-US">Appointments</Translation>
  </Translations>
</Dictionary>