<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="106e0e2d-fad6-4a3c-9300-d8a0ed395bd7" Alias="EHC.Az.Filter" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ابحث بالاسم</Translation>
    <Translation Language="en-US">Filter by name</Translation>
  </Translations>
</Dictionary>