<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8b75b9bf-7805-4094-a1a4-ec510065b431" Alias="EHC.Assistant.Agent.Reply" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">شكرًا لرسالتك. هذه محادثة تجريبية؛ للتواصل الآن اتصل على {advice}.</Translation>
    <Translation Language="en-US">Thanks for your message. This is a demo chat; to reach us now, call {advice}.</Translation>
  </Translations>
</Dictionary>