<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e05982b0-7235-41ee-87f8-0c286f64d98c" Alias="EHC.Assistant.Doctor.Keywords" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">طبيب,دكتور,استشاري,اخصائي,أخصائي,تخصص</Translation>
    <Translation Language="en-US">doctor,physician,consultant,specialist,specialty</Translation>
  </Translations>
</Dictionary>