<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="44d5710d-956b-488a-9367-ea2e3bb0f911" Alias="EHC.Assistant.Log" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المحادثة</Translation>
    <Translation Language="en-US">Conversation</Translation>
  </Translations>
</Dictionary>