<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5216d49c-f536-4445-8f29-eb375cf0b440" Alias="EHC.A11y.Links" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إبراز الروابط</Translation>
    <Translation Language="en-US">Highlight links</Translation>
  </Translations>
</Dictionary>