<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ef34087f-0c81-41b3-b2b3-7504a0b386b8" Alias="EHC.Assistant.Nearest.Answer" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اعرض المستشفيات والمراكز الصحية على الخريطة، واختر الأقرب إليك.</Translation>
    <Translation Language="en-US">See our hospitals and health centres on the map and choose the one nearest to you.</Translation>
  </Translations>
</Dictionary>