<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="af8e86c1-f0a5-424f-9089-18acce5579a0" Alias="EHC.Assistant.Fallback" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لم أفهم سؤالك تمامًا. جرّب أحد المواضيع أدناه، أو تحدث مع موظف.</Translation>
    <Translation Language="en-US">I didn't quite get that. Try one of the topics below, or talk to a person.</Translation>
  </Translations>
</Dictionary>