<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8a6d4afc-1ba9-4ea7-93f5-a11cb8cd2ca0" Alias="EHC.Assistant.Vaccine.Answer" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تعرّف على الحملات الصحية الحالية ومواعيدها وأماكنها.</Translation>
    <Translation Language="en-US">See our current health campaigns, with their dates and locations.</Translation>
  </Translations>
</Dictionary>