<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="851878ac-a339-4c37-9ca6-158c076b0526" Alias="EHC.A11y.Reset" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إعادة الضبط</Translation>
    <Translation Language="en-US">Reset all</Translation>
  </Translations>
</Dictionary>