<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="31c34bfb-b84b-4ae8-8a9a-2aa9e5c93763" Alias="EHC.A11y.Spacing" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تباعد النص</Translation>
    <Translation Language="en-US">Text spacing</Translation>
  </Translations>
</Dictionary>