<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5b35cfcb-d719-474b-9fe0-9977979f7ef2" Alias="EHC.Assistant.Placeholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اكتب سؤالك…</Translation>
    <Translation Language="en-US">Type your question…</Translation>
  </Translations>
</Dictionary>