<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ce33328f-c014-49c8-ac2f-6dff1866da6e" Alias="EHC.Assistant.Emergency.Answer" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إذا كانت الحالة طارئة وتهدد الحياة، اتصل بـ {emergency} الآن أو توجّه إلى أقرب قسم طوارئ.</Translation>
    <Translation Language="en-US">If it's a life-threatening emergency, call {emergency} now or go to the nearest emergency department.</Translation>
  </Translations>
</Dictionary>