<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b0f61861-709c-48c8-b917-dac083d96a00" Alias="EHC.Assistant.Tools.Label" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الأدوات الصحية</Translation>
    <Translation Language="en-US">Health tools</Translation>
  </Translations>
</Dictionary>