<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ddae4677-5835-4bef-8953-effc83efb4f2" Alias="EHC.Assistant.Agent.Keywords" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">موظف,شخص,انسان,إنسان,خدمة العملاء,خدمه العملاء,تواصل,شكوى</Translation>
    <Translation Language="en-US">person,human,agent,staff,representative,customer service,talk to someone,complaint</Translation>
  </Translations>
</Dictionary>