<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="338da6a4-0cf0-4ba0-beb1-b45d2e452ef9" Alias="EHC.Assistant.Greeting.Answer" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أهلًا بك! كيف يمكنني مساعدتك اليوم؟</Translation>
    <Translation Language="en-US">Hi! How can I help you today?</Translation>
  </Translations>
</Dictionary>