<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4a41ae7d-f84f-4de8-8d49-7ebff438c7dc" Alias="EHC.A11y.Dark" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الوضع الداكن</Translation>
    <Translation Language="en-US">Dark mode</Translation>
  </Translations>
</Dictionary>