<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7e80b8c2-a516-48f2-89ea-2a5789065a94" Alias="EHC.Assistant.Book.Label" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">حجز موعد</Translation>
    <Translation Language="en-US">Book an appointment</Translation>
  </Translations>
</Dictionary>