<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2f182983-a762-432a-b2b2-bf7cb5b88afc" Alias="EHC.Assistant.Emergency.Label" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">حالة طارئة</Translation>
    <Translation Language="en-US">Emergency</Translation>
  </Translations>
</Dictionary>