<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3bfccf90-4366-4353-9e56-be53fe1c87b6" Alias="EHC.A11y.Guide" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">دليل القراءة</Translation>
    <Translation Language="en-US">Reading guide</Translation>
  </Translations>
</Dictionary>