<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e77e71f3-26ac-4bb8-adc2-47ac1e371c0d" Alias="EHC.Assistant.Vaccine.Label" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اللقاحات والحملات</Translation>
    <Translation Language="en-US">Vaccines &amp; campaigns</Translation>
  </Translations>
</Dictionary>