<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8e2034e9-ee8b-4e2f-8ae8-21a69c519a32" Alias="EHC.Assistant.Agent.Label" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">التحدث مع موظف</Translation>
    <Translation Language="en-US">Talk to a person</Translation>
  </Translations>
</Dictionary>