<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a31662ff-66c2-487f-b8ac-8b6cc450c925" Alias="EHC.Assistant.Book.Keywords" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">موعد,حجز,احجز,مواعيد,صحتي</Translation>
    <Translation Language="en-US">book,appointment,booking,schedule,sehhaty</Translation>
  </Translations>
</Dictionary>