<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b71bed0c-8c53-4c97-a9f4-a2c87d7fd087" Alias="EHC.Assistant.Open" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تحدث معنا</Translation>
    <Translation Language="en-US">Chat with us</Translation>
  </Translations>
</Dictionary>