<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f3088871-913f-447a-8862-e7853fe7acbc" Alias="EHC.A11y.Still" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إيقاف الحركة</Translation>
    <Translation Language="en-US">Pause animations</Translation>
  </Translations>
</Dictionary>