<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="70d64c43-d050-47c2-b0a3-81831874354c" Alias="EHC.Assistant.Library.Answer" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اقرأ مقالات عن صحتك وصحة أسرتك في المكتبة الصحية.</Translation>
    <Translation Language="en-US">Read articles about your health and your family's health in the health library.</Translation>
  </Translations>
</Dictionary>