<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4186459a-e871-40d0-abc9-8974eaaa3ffa" Alias="EHC.A11y.Note" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تعمل هذه الإعدادات إلى جانب قارئ الشاشة وإعدادات جهازك، ولا تحل محلها.</Translation>
    <Translation Language="en-US">These settings work alongside your screen reader and device settings, not instead of them.</Translation>
  </Translations>
</Dictionary>