<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6a5b3dec-9d9c-4143-8282-bac80c229c2b" Alias="EHC.Assistant.Vaccine.Keywords" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لقاح,تطعيم,حمله,حملة,انفلونزا,إنفلونزا,الانفلونزا</Translation>
    <Translation Language="en-US">vaccine,vaccination,flu,campaign,jab,shot,immunisation,immunization</Translation>
  </Translations>
</Dictionary>