<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2c0d63c5-2c6b-447a-86ba-19f2c7d42eca" Alias="EHC.Assistant.Agent.Name" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">خدمة المستفيدين</Translation>
    <Translation Language="en-US">Patient services</Translation>
  </Translations>
</Dictionary>