<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="70c71997-3c16-4803-b9b9-490300319b62" Alias="EHC.BrowserTip.Text" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">قد يغيّر متصفح سامسونج ألوان هذا الموقع. ننصح بفتحه في متصفح Chrome.</Translation>
    <Translation Language="en-US">Samsung Internet may change this site's colours. We recommend opening it in Chrome.</Translation>
  </Translations>
</Dictionary>