<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="09fb6c5a-ff8a-448e-be65-fb23f6cebf81" Alias="EHC.Bmi.Under" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">نقص في الوزن</Translation>
    <Translation Language="en-US">Underweight</Translation>
  </Translations>
</Dictionary>