<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f8b6e689-3ecf-4f45-bd80-91b715d00553" Alias="EHC.Bmi.Healthy" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">وزن صحي</Translation>
    <Translation Language="en-US">Healthy range</Translation>
  </Translations>
</Dictionary>