<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a97a6b44-8c41-46a6-af5c-46d8a59042ea" Alias="EHC.BrowserTip.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لأفضل تجربة</Translation>
    <Translation Language="en-US">For the best experience</Translation>
  </Translations>
</Dictionary>