<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5ad890b0-e9a2-49af-ae24-64fc61f508df" Alias="EHC.Bmi.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">حاسبة مؤشر كتلة الجسم</Translation>
    <Translation Language="en-US">Body mass index (BMI)</Translation>
  </Translations>
</Dictionary>