<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="09baaeff-7226-46cc-8e74-846bdc170090" Alias="EHC.Bmi.OverTip" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أعلى قليلًا من النطاق الصحي. تغييرات بسيطة في الغذاء والنشاط تصنع فرقًا.</Translation>
    <Translation Language="en-US">Slightly above the healthy range. Small changes to diet and activity make a real difference.</Translation>
  </Translations>
</Dictionary>