<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="41464349-f440-4f9e-8c25-3530db7cdaa3" Alias="EHC.BrowserTip.Close" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المتابعة هنا</Translation>
    <Translation Language="en-US">Continue here</Translation>
  </Translations>
</Dictionary>