<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9cc350c4-ffea-43be-b205-34032d796d3a" Alias="EHC.Bmi.Adults" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">للبالغين فوق ١٨ عامًا</Translation>
    <Translation Language="en-US">For adults over 18</Translation>
  </Translations>
</Dictionary>