<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e8560838-8f4d-42fb-a857-01936d8a5e39" Alias="EHC.Bmi.UnderTip" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أقل قليلًا من النطاق الصحي. يمكن لاستشارة التغذية مساعدتك بأمان.</Translation>
    <Translation Language="en-US">A little below the healthy range. A nutrition consult can help you build up safely.</Translation>
  </Translations>
</Dictionary>