<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5496d4ad-e92a-4fa8-8b46-72b155a81c6a" Alias="EHC.Bmi.Obese" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">سمنة</Translation>
    <Translation Language="en-US">Obesity range</Translation>
  </Translations>
</Dictionary>