<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="73e8d620-c9e0-4374-97e4-1658375680ce" Alias="EHC.Common.ResultCount" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">{0} نتيجة</Translation>
    <Translation Language="en-US">{0} results</Translation>
  </Translations>
</Dictionary>