<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="21b037e4-21b3-4fd3-85b7-8a5354c8d6d9" Alias="EHC.Countdown.Minutes" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">دقيقة</Translation>
    <Translation Language="en-US">minutes</Translation>
  </Translations>
</Dictionary>