<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2e472e2d-5f13-496b-9a0f-87aa3988a301" Alias="EHC.Customizer.PatternHajj" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الحج</Translation>
    <Translation Language="en-US">Hajj</Translation>
  </Translations>
</Dictionary>