<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6977ba4f-cede-4b2d-a826-ec62a465efd9" Alias="EHC.ContactForm.Next1" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تصلك رسالة تأكيد برقم مرجعي على الشاشة.</Translation>
    <Translation Language="en-US">You see a confirmation with a reference number.</Translation>
  </Translations>
</Dictionary>