<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b41e6a6c-bec9-428e-9cc4-a1f350c584db" Alias="EHC.ContactForm.Another" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إرسال رسالة أخرى</Translation>
    <Translation Language="en-US">Send another message</Translation>
  </Translations>
</Dictionary>