<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f488f5a2-8dd7-4c68-a2ca-4b79976f5583" Alias="EHC.Customizer.Density" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الكثافة</Translation>
    <Translation Language="en-US">Density</Translation>
  </Translations>
</Dictionary>