<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3f666fe9-b9c2-4ea2-9611-1ec20572e403" Alias="EHC.Customizer.ImageSide" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جهة الصورة</Translation>
    <Translation Language="en-US">Image side</Translation>
  </Translations>
</Dictionary>