<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="93539933-b7af-4957-83c8-ad3fe00e568e" Alias="EHC.Common.NoResults" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لا توجد نتائج مطابقة.</Translation>
    <Translation Language="en-US">No matching results.</Translation>
  </Translations>
</Dictionary>