<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="232b49a2-73e4-4961-ac6c-6d95ce5c727b" Alias="EHC.Customizer.ShadowsDeep" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عميقة</Translation>
    <Translation Language="en-US">Deep</Translation>
  </Translations>
</Dictionary>