<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="75cebd4c-51a8-4910-814f-6479736b3f76" Alias="EHC.Customizer.SideStart" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">البداية</Translation>
    <Translation Language="en-US">Start</Translation>
  </Translations>
</Dictionary>