<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a6fd946e-5320-4853-a4b1-26a4256ba249" Alias="EHC.Common.RelatedLinks" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">روابط ذات صلة</Translation>
    <Translation Language="en-US">Related links</Translation>
  </Translations>
</Dictionary>