<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="31981d61-66a4-4ab0-b14a-1676a88490ac" Alias="EHC.ContactForm.OtherWays" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">طرق أخرى للتواصل</Translation>
    <Translation Language="en-US">Other ways to reach us</Translation>
  </Translations>
</Dictionary>