<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e3a851d1-ddd3-41d5-b5ba-a04f4e273760" Alias="EHC.Customizer.Rotate" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تبديل الشرائح تلقائيًا</Translation>
    <Translation Language="en-US">Rotate slides automatically</Translation>
  </Translations>
</Dictionary>