<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b50997e8-2401-4091-bd23-2d1b2c5a82de" Alias="EHC.Common.PageOf" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">صفحة {0} من {1}</Translation>
    <Translation Language="en-US">Page {0} of {1}</Translation>
  </Translations>
</Dictionary>