<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="133f8294-2d52-49d0-816c-94c46d66e17d" Alias="EHC.ContactForm.Next2" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">يراجع الفريق المختص رسالتك.</Translation>
    <Translation Language="en-US">The team responsible reviews your message.</Translation>
  </Translations>
</Dictionary>