<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3520c58d-a9d5-4529-858c-81fd23a7ea15" Alias="EHC.Customizer.Theme" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">السمة</Translation>
    <Translation Language="en-US">Theme</Translation>
  </Translations>
</Dictionary>