<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3d421f20-a0f4-4ba0-bca4-36a776239f6a" Alias="EHC.Customizer.PatternRamadan" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">رمضان</Translation>
    <Translation Language="en-US">Ramadan</Translation>
  </Translations>
</Dictionary>