<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c5142fc2-4448-4228-b9f1-e8549d94e935" Alias="EHC.Customizer.PanelArt" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الشعار والبطاقات</Translation>
    <Translation Language="en-US">Logo &amp; cards</Translation>
  </Translations>
</Dictionary>