<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1928c366-4793-4872-9a7a-c09d8e674d4e" Alias="EHC.Common.NewWindow" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">(يفتح في نافذة جديدة)</Translation>
    <Translation Language="en-US">(opens in a new window)</Translation>
  </Translations>
</Dictionary>