<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9a553372-6363-4ffd-a2c7-6d1e0532c606" Alias="EHC.ContactForm.Error.service" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اختر موضوع رسالتك.</Translation>
    <Translation Language="en-US">Choose what your message is about.</Translation>
  </Translations>
</Dictionary>