<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="82f403d3-d72b-48a4-864d-a16f11def43d" Alias="EHC.Customizer.Buttons" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الأزرار</Translation>
    <Translation Language="en-US">Buttons</Translation>
  </Translations>
</Dictionary>