<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d700a876-9f9f-495c-a4ed-8269798ba390" Alias="EHC.Common.SkipToContent" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تخطَّ إلى المحتوى</Translation>
    <Translation Language="en-US">Skip to content</Translation>
  </Translations>
</Dictionary>