<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2ada0104-1e40-49c7-a1b7-133ffab1e7db" Alias="EHC.Customizer.Open" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تخصيص</Translation>
    <Translation Language="en-US">Customize</Translation>
  </Translations>
</Dictionary>