<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e465f609-3907-4998-8832-5e428d266e32" Alias="EHC.Common.Pagination" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الصفحات</Translation>
    <Translation Language="en-US">Pages</Translation>
  </Translations>
</Dictionary>