<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d5729a9f-e2b7-4995-a6fa-4dddd59f0acb" Alias="EHC.ContactForm.Copied" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تم النسخ</Translation>
    <Translation Language="en-US">Copied</Translation>
  </Translations>
</Dictionary>