<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="561b5a09-8943-48dc-be17-6acf2f474bff" Alias="EHC.Customizer.ButtonsPill" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">كبسولة</Translation>
    <Translation Language="en-US">Pill</Translation>
  </Translations>
</Dictionary>