<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5d3e3d5a-1e60-41c0-a77e-1bd51e4c05ba" Alias="EHC.Customizer.Frame" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إطار الصورة</Translation>
    <Translation Language="en-US">Photo frame</Translation>
  </Translations>
</Dictionary>