<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9275acf6-6ffd-4738-b962-c3667e832468" Alias="EHC.Customizer.PanelCards" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">البطاقات فقط</Translation>
    <Translation Language="en-US">Cards only</Translation>
  </Translations>
</Dictionary>