<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ddfb9789-94c2-47db-8f9d-841397c561c1" Alias="EHC.ContactForm.Error.message" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اكتب رسالتك (10 أحرف على الأقل).</Translation>
    <Translation Language="en-US">Write your message (at least 10 characters).</Translation>
  </Translations>
</Dictionary>