<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ba644758-1e1e-4ddd-8125-6ac594c2e6d8" Alias="EHC.Campaigns.All" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جميع الحملات</Translation>
    <Translation Language="en-US">All campaigns</Translation>
  </Translations>
</Dictionary>