<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6f3c1583-0470-4992-807a-3e5600748b4e" Alias="EHC.Customizer.PatternTheme" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">نقش السمة</Translation>
    <Translation Language="en-US">Theme's own</Translation>
  </Translations>
</Dictionary>