<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="caf15fc2-1da1-46eb-b11b-e8d453c08df7" Alias="EHC.ContactForm.Service.complaint" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">شكوى</Translation>
    <Translation Language="en-US">Complaint</Translation>
  </Translations>
</Dictionary>