<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="478415a9-084e-4943-b162-99666c81b061" Alias="EHC.ContactForm.Error.busy" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أُرسلت رسائل كثيرة من هذه الشبكة. حاول مرة أخرى بعد ربع ساعة.</Translation>
    <Translation Language="en-US">Too many messages were sent from this network. Please try again in 15 minutes.</Translation>
  </Translations>
</Dictionary>