<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="18690332-b7b9-4a65-b553-76364eae39af" Alias="EHC.Customizer.Align" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">محاذاة النص</Translation>
    <Translation Language="en-US">Text alignment</Translation>
  </Translations>
</Dictionary>