<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d6738d04-1839-4fcb-b35c-4017fee905c1" Alias="EHC.Customizer.DensityNormal" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عادية</Translation>
    <Translation Language="en-US">Normal</Translation>
  </Translations>
</Dictionary>