<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d3be927a-5f07-4415-9640-170254e4da33" Alias="EHC.Common.ViewAll" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عرض الكل</Translation>
    <Translation Language="en-US">View all</Translation>
  </Translations>
</Dictionary>