<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="966084eb-5884-4c02-8540-e69544a6245b" Alias="EHC.Customizer.AlignStart" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">البداية</Translation>
    <Translation Language="en-US">Start</Translation>
  </Translations>
</Dictionary>