<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6ca490c6-4d4a-4cd4-a839-452728409e73" Alias="EHC.ContactForm.ServiceHint.question" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عن خدماتنا ومواعيدنا ومنشآتنا</Translation>
    <Translation Language="en-US">About our services, appointments or facilities</Translation>
  </Translations>
</Dictionary>