<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ee28997c-fd14-4d7a-895a-fbd86b02aa00" Alias="EHC.ContactForm.ReferenceHint" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">احتفظ بهذا الرقم لمتابعة رسالتك.</Translation>
    <Translation Language="en-US">Keep this number to follow up on your message.</Translation>
  </Translations>
</Dictionary>