<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ac17ae9a-5da9-4ab1-968a-581444ffc079" Alias="EHC.ContactForm.ServiceHint.complaint" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عن خدمة أو تجربة لم تكن كما توقعت</Translation>
    <Translation Language="en-US">A service or experience that fell short</Translation>
  </Translations>
</Dictionary>