<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0cc481f3-8910-4632-9a90-ab0e1921b0bf" Alias="EHC.Customizer.ShadowsFlat" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">بدون</Translation>
    <Translation Language="en-US">Flat</Translation>
  </Translations>
</Dictionary>