<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c027be3c-71ee-4ba6-aa91-6bb027e99c0c" Alias="EHC.ContactForm.ConsentNoLink" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أوافق على استخدام بياناتي للرد على رسالتي.</Translation>
    <Translation Language="en-US">I agree that my details are used to answer my message.</Translation>
  </Translations>
</Dictionary>