<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dadfba49-fcd4-42d4-bd7c-9d115d15667e" Alias="EHC.Campaigns.Current" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الحملات الحالية والقادمة</Translation>
    <Translation Language="en-US">Current and upcoming</Translation>
  </Translations>
</Dictionary>