<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fc8a5c5f-a0e7-4a12-a03d-ac3c52a5bcb6" Alias="EHC.Cookies.Privacy" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">سياسة الخصوصية</Translation>
    <Translation Language="en-US">Privacy policy</Translation>
  </Translations>
</Dictionary>