<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8ef41c85-f7ea-4b41-bb02-b1a2fe7dbfa8" Alias="EHC.Customizer.PatternEidAdha" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عيد الأضحى</Translation>
    <Translation Language="en-US">Eid al-Adha</Translation>
  </Translations>
</Dictionary>