<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5bd54185-573f-45fd-9502-29c2c97a7952" Alias="EHC.ContactForm.NoScript" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لإرسال هذا النموذج فعّل JavaScript في متصفحك، أو تواصل معنا بالطرق الأخرى في هذه الصفحة.</Translation>
    <Translation Language="en-US">To send this form, turn on JavaScript in your browser, or use the other contact details on this page.</Translation>
  </Translations>
</Dictionary>