<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4ca735ce-0e51-4cb3-a481-a83436586f65" Alias="EHC.Common.SiteDescription" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الموقع الرسمي لتجمع الشرقية الصحي: احجز موعدًا، ابحث عن طبيب أو أقرب منشأة، وتعرّف على خدماتنا.</Translation>
    <Translation Language="en-US">Official website of the Eastern Health Cluster: book an appointment, find a doctor or the nearest facility, and explore our services.</Translation>
  </Translations>
</Dictionary>