<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="234b6171-8be2-4050-8231-9d97be9a0fca" Alias="EHC.Customizer.HeroPanel" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اللوحة الجانبية للواجهة</Translation>
    <Translation Language="en-US">Hero side panel</Translation>
  </Translations>
</Dictionary>