<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="943a69aa-4743-4dec-a30f-7b823050ec84" Alias="EHC.Customizer.MoveUp" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">نقل لأعلى</Translation>
    <Translation Language="en-US">Move up</Translation>
  </Translations>
</Dictionary>