<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d981b2fd-7a6e-4c2e-9f01-95076aa2bf30" Alias="EHC.ContactForm.Service.question" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">استفسار</Translation>
    <Translation Language="en-US">Question</Translation>
  </Translations>
</Dictionary>