<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3f2c0687-eb20-4293-958f-1704d82d1fec" Alias="EHC.ContactForm.Sending" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جارٍ الإرسال…</Translation>
    <Translation Language="en-US">Sending…</Translation>
  </Translations>
</Dictionary>