<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c8475acd-c10f-4e5f-b0c6-f44a3bcf7a05" Alias="EHC.ContactForm.ServiceHint.suggestion" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">فكرة لتحسين خدماتنا</Translation>
    <Translation Language="en-US">An idea to improve our services</Translation>
  </Translations>
</Dictionary>