<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7a0cfef8-b934-416f-a8b9-6d73c99a343f" Alias="EHC.ContactForm.Error.phone" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اكتب رقم جوال صحيحًا، مثل 05XXXXXXXX.</Translation>
    <Translation Language="en-US">Enter a valid mobile number, like 05XXXXXXXX.</Translation>
  </Translations>
</Dictionary>