<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4ddcce60-7df3-4394-a268-51657550c86c" Alias="EHC.ContactForm.ErrorSummary" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">يرجى تصحيح ما يلي قبل الإرسال:</Translation>
    <Translation Language="en-US">Please correct the following before sending:</Translation>
  </Translations>
</Dictionary>