<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6e80f9e1-ba0e-4107-9f81-ca987812146b" Alias="EHC.ContactForm.Email" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">البريد الإلكتروني</Translation>
    <Translation Language="en-US">E-mail</Translation>
  </Translations>
</Dictionary>