<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d94b8e90-d4f4-4e48-990a-2db8856f7265" Alias="EHC.Campaigns.Eyebrow" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الحملات الصحية</Translation>
    <Translation Language="en-US">Health campaigns</Translation>
  </Translations>
</Dictionary>