<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e4697453-014e-4b00-981e-3ef9e35dc658" Alias="EHC.Customizer.ShadowsSoft" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">خفيفة</Translation>
    <Translation Language="en-US">Soft</Translation>
  </Translations>
</Dictionary>