<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e46f8a82-1d85-4864-b14b-0251b696cff2" Alias="EHC.ContactForm.Name" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الاسم الكامل</Translation>
    <Translation Language="en-US">Full name</Translation>
  </Translations>
</Dictionary>