<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6b731373-3a62-4bc0-80d9-2da5a6f4d344" Alias="EHC.ContactForm.AllRequired" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جميع الحقول مطلوبة.</Translation>
    <Translation Language="en-US">All fields are required.</Translation>
  </Translations>
</Dictionary>