<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ab0e21fb-cc79-4db4-ad68-8a175dac1182" Alias="EHC.Customizer.AlignCenter" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الوسط</Translation>
    <Translation Language="en-US">Centre</Translation>
  </Translations>
</Dictionary>