<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="79372a32-d734-4e91-9aa5-005cb9d3800d" Alias="EHC.ContactForm.SuccessTitle" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">شكرًا لك، وصلتنا رسالتك</Translation>
    <Translation Language="en-US">Thank you, we have received your message</Translation>
  </Translations>
</Dictionary>