<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="45949211-4d04-4626-a00f-dff6aa90ba0f" Alias="EHC.Cookies.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ملفات تعريف الارتباط على هذا الموقع</Translation>
    <Translation Language="en-US">Cookies on this site</Translation>
  </Translations>
</Dictionary>