<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b753e363-2775-469f-ba80-22caa615c188" Alias="EHC.ContactForm.Send" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إرسال الرسالة</Translation>
    <Translation Language="en-US">Send message</Translation>
  </Translations>
</Dictionary>