<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a0265a85-4c33-43dd-a716-7c9f92cdc712" Alias="EHC.Customizer.Intro" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جرّب أشكالًا مختلفة للموقع. التغييرات تظهر لك وحدك في هذا المتصفح، ولا تغيّر الموقع.</Translation>
    <Translation Language="en-US">Try different looks. Changes are visible only to you, in this browser, and do not change the site.</Translation>
  </Translations>
</Dictionary>