<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aedf3623-9a49-4b1d-aecd-ef910b1acd72" Alias="EHC.Doctors.Facility" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المنشأة</Translation>
    <Translation Language="en-US">Facility</Translation>
  </Translations>
</Dictionary>