<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c638dc9f-3a61-4b3b-8753-cef0188cfb78" Alias="EHC.Doctors.All" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ابحث عن طبيب</Translation>
    <Translation Language="en-US">Find a doctor</Translation>
  </Translations>
</Dictionary>