<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aed0f6ed-1ea8-4a07-a42e-3ee957f09481" Alias="EHC.Doctors.Language" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اللغة</Translation>
    <Translation Language="en-US">Language</Translation>
  </Translations>
</Dictionary>