<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e604f955-8a51-487b-a7cb-66244d2acf77" Alias="EHC.Doctor.Languages" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اللغات</Translation>
    <Translation Language="en-US">Languages</Translation>
  </Translations>
</Dictionary>