<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3488249f-5e6b-4b32-823b-f089a936d579" Alias="EHC.Doctors.Specialty" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">التخصص</Translation>
    <Translation Language="en-US">Specialty</Translation>
  </Translations>
</Dictionary>