<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ea65e066-9522-4bdc-8055-68b76d0277df" Alias="EHC.Er.Eyebrow" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الطوارئ الآن</Translation>
    <Translation Language="en-US">Emergency rooms right now</Translation>
  </Translations>
</Dictionary>