<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="10e56bfc-1788-4e33-ba19-51be5ada35e4" Alias="EHC.EServices.Audience.suppliers" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الموردون</Translation>
    <Translation Language="en-US">Suppliers</Translation>
  </Translations>
</Dictionary>