<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0649fb57-018d-40ca-8647-52bcd03a7f56" Alias="EHC.EServices.Start" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ابدأ الخدمة</Translation>
    <Translation Language="en-US">Start service</Translation>
  </Translations>
</Dictionary>