<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6ac0b54a-1df7-46b3-b477-eea71d9b0d24" Alias="EHC.Er.Illustrative" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">بيانات توضيحية</Translation>
    <Translation Language="en-US">Illustrative data</Translation>
  </Translations>
</Dictionary>