<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="beccaa24-9fdd-4500-8165-0369a1f34379" Alias="EHC.Embed.Open" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">فتح في نافذة جديدة</Translation>
    <Translation Language="en-US">Open in a new tab</Translation>
  </Translations>
</Dictionary>