<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9deb8def-d7f8-4989-a877-111d25d18f64" Alias="EHC.EServices.Details" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">التفاصيل</Translation>
    <Translation Language="en-US">Details</Translation>
  </Translations>
</Dictionary>