<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3a9bfe32-29fb-439e-86cb-b5035ad1f2d0" Alias="EHC.Embed.Notice" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">يُعرض هذا المحتوى من {0}. عند عرضه يتصل متصفحك بخوادم هذه الجهة.</Translation>
    <Translation Language="en-US">This content is provided by {0}. Loading it connects your browser to their servers.</Translation>
  </Translations>
</Dictionary>