<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="52540aad-8818-4114-98e0-3d5694cb08ea" Alias="EHC.EServices.Audience.volunteers" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المتطوعون</Translation>
    <Translation Language="en-US">Volunteers</Translation>
  </Translations>
</Dictionary>