<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="05f2a6eb-7fbb-4d93-945c-eb4748db1311" Alias="EHC.Embed.Load" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عرض المحتوى</Translation>
    <Translation Language="en-US">Load content</Translation>
  </Translations>
</Dictionary>