<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="339e643a-f847-465d-84c7-1d990fbed11b" Alias="EHC.Er.Live" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تحديث مباشر</Translation>
    <Translation Language="en-US">Live update</Translation>
  </Translations>
</Dictionary>