<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cd407f59-2046-4985-afa6-3d16261fdb81" Alias="EHC.EServices.AppTitle" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">معظم هذه الخدمات في تطبيق {0}</Translation>
    <Translation Language="en-US">Most of these services are in the {0} app</Translation>
  </Translations>
</Dictionary>