<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c5e9b130-4532-41c8-823b-3f77f829a5a0" Alias="EHC.Er.Minutes" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">دقيقة انتظار تقريبًا</Translation>
    <Translation Language="en-US">min est. wait</Translation>
  </Translations>
</Dictionary>