<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="94a2bb5b-2462-4024-9829-7453501437d7" Alias="EHC.EServices.All" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جميع الخدمات الإلكترونية</Translation>
    <Translation Language="en-US">All e-services</Translation>
  </Translations>
</Dictionary>