<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="64ac8007-40f0-4e15-a34e-1f830eede837" Alias="EHC.EServices.Audience.staff" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الموظفون</Translation>
    <Translation Language="en-US">Staff</Translation>
  </Translations>
</Dictionary>