<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9ced2d2b-19b8-4d37-a311-115b9d7f5365" Alias="EHC.Feedback.Comment" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تعليق (اختياري)</Translation>
    <Translation Language="en-US">Comment (optional)</Translation>
  </Translations>
</Dictionary>