<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e1d5bbce-21bd-45cc-92b1-19d81b155459" Alias="EHC.Feedback.Reason.outdated" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">معلومات قديمة</Translation>
    <Translation Language="en-US">Outdated</Translation>
  </Translations>
</Dictionary>