<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="19eaefc7-6914-41d7-b61f-eb553ede000f" Alias="EHC.Feedback.Reason.other" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أخرى</Translation>
    <Translation Language="en-US">Other</Translation>
  </Translations>
</Dictionary>