<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2ea2f91b-1b2a-46bb-8e8f-6e1974f56937" Alias="EHC.Facility.Address" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">العنوان</Translation>
    <Translation Language="en-US">Address</Translation>
  </Translations>
</Dictionary>