<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="120e9c2f-1d03-41a5-a989-3342bdf5dbb3" Alias="EHC.Finder.All" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جميع المنشآت</Translation>
    <Translation Language="en-US">All facilities</Translation>
  </Translations>
</Dictionary>