<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3273a84e-69d3-400c-8fd6-0aa784480413" Alias="EHC.Finder.Count" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المنشآت: {0}</Translation>
    <Translation Language="en-US">Facilities: {0}</Translation>
  </Translations>
</Dictionary>