<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="13d6e17a-933c-4b86-ab18-1afee91de985" Alias="EHC.Facility.Hours" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أوقات العمل</Translation>
    <Translation Language="en-US">Opening hours</Translation>
  </Translations>
</Dictionary>