<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c44d0e97-223d-4e1a-bb56-51054d2e9fb2" Alias="EHC.Feedback.Reason.missing" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">معلومات ناقصة</Translation>
    <Translation Language="en-US">Missing information</Translation>
  </Translations>
</Dictionary>