<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="807f5e61-5e43-4584-91b4-d049e295cb84" Alias="EHC.Feedback.Thanks" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">شكرًا لك، ملاحظاتك تساعدنا على التحسين.</Translation>
    <Translation Language="en-US">Thank you — your feedback helps us improve.</Translation>
  </Translations>
</Dictionary>