<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="62391e3b-1c37-4575-bcee-8d5027b943f0" Alias="EHC.Finder.Locate" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">استخدم موقعي</Translation>
    <Translation Language="en-US">Use my location</Translation>
  </Translations>
</Dictionary>