<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8eb1c70b-605e-4821-9298-d2e99f7427e3" Alias="EHC.Facility.Search" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ابحث باسم المنشأة أو المدينة</Translation>
    <Translation Language="en-US">Search by facility name or city</Translation>
  </Translations>
</Dictionary>