<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aa0324d7-2743-448b-9744-45f62e61c985" Alias="EHC.Footer.Copyright" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">© {0} تجمع الشرقية الصحي. جميع الحقوق محفوظة.</Translation>
    <Translation Language="en-US">© {0} Eastern Health Cluster. All rights reserved.</Translation>
  </Translations>
</Dictionary>