<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d56bb645-02ce-41db-872a-1a38fb94bbc7" Alias="EHC.Facility.EmergencyOpen" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">يضم قسم طوارئ</Translation>
    <Translation Language="en-US">Has an emergency department</Translation>
  </Translations>
</Dictionary>