<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f06242ed-7230-47ad-934b-6d24a847e0cd" Alias="EHC.Facility.Type.hospital" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مستشفى</Translation>
    <Translation Language="en-US">Hospital</Translation>
  </Translations>
</Dictionary>