<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7f759071-6983-49f8-9df1-2e8cda170b87" Alias="EHC.Finder.Networks" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">حسب الشبكة الصحية</Translation>
    <Translation Language="en-US">By health network</Translation>
  </Translations>
</Dictionary>