<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a624f17c-1197-4793-8521-11941cf2a5ed" Alias="EHC.Footer.Address" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الدمام، المنطقة الشرقية، المملكة العربية السعودية</Translation>
    <Translation Language="en-US">Dammam, Eastern Province, Saudi Arabia</Translation>
  </Translations>
</Dictionary>