<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ad465d72-f92f-4f4b-90aa-aa6746563317" Alias="EHC.Facility.Directions" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الاتجاهات</Translation>
    <Translation Language="en-US">Directions</Translation>
  </Translations>
</Dictionary>