<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6e02c498-faf7-4e68-b312-64768a2e81d4" Alias="EHC.Finder.Eyebrow" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اعثر على منشأة</Translation>
    <Translation Language="en-US">Find a facility</Translation>
  </Translations>
</Dictionary>