<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ea92890e-645a-49c0-9579-059fe0c51cb3" Alias="EHC.Gallery.Viewer" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عارض الصور</Translation>
    <Translation Language="en-US">Image viewer</Translation>
  </Translations>
</Dictionary>