<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9da14a94-05b0-4491-8792-8650de806f94" Alias="EHC.Health.Topic.prevention" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">نمط حياة صحي</Translation>
    <Translation Language="en-US">Healthy living</Translation>
  </Translations>
</Dictionary>