<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3229a269-f4f2-42ed-856f-87b131c82103" Alias="EHC.Health.All" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المكتبة الصحية كاملة</Translation>
    <Translation Language="en-US">Full health library</Translation>
  </Translations>
</Dictionary>