<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="676b09c3-70fa-4bf0-ab5a-40eec43af7fc" Alias="EHC.Health.ReadingTime" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مدة القراءة: {0} د</Translation>
    <Translation Language="en-US">{0} min read</Translation>
  </Translations>
</Dictionary>