<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c59e57b8-31eb-4eef-95c9-619bf3a5b4ff" Alias="EHC.Health.Topic.vaccination" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">التطعيمات</Translation>
    <Translation Language="en-US">Vaccinations</Translation>
  </Translations>
</Dictionary>