<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="815021ed-2e59-4575-9c2b-a405be927173" Alias="EHC.Hero.VideoPause" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إيقاف الفيديو في الخلفية</Translation>
    <Translation Language="en-US">Pause background video</Translation>
  </Translations>
</Dictionary>