<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="636ee153-e650-4fed-add5-b2df7c449529" Alias="EHC.Header.DarkMode" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تبديل الوضع الداكن</Translation>
    <Translation Language="en-US">Toggle dark mode</Translation>
  </Translations>
</Dictionary>