<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c4dfee86-271a-4cc8-8b53-2d3c2879abde" Alias="EHC.Hero.VideoPlay" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تشغيل الفيديو في الخلفية</Translation>
    <Translation Language="en-US">Play background video</Translation>
  </Translations>
</Dictionary>