<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c8854f07-a520-40dd-8c19-2e12d5b3a0e6" Alias="EHC.Health.Topics" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المواضيع</Translation>
    <Translation Language="en-US">Topics</Translation>
  </Translations>
</Dictionary>