<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5ee78383-b077-47e7-8a01-1230ce2c4695" Alias="EHC.Health.Topic.women" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">صحة المرأة</Translation>
    <Translation Language="en-US">Women's health</Translation>
  </Translations>
</Dictionary>