<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="173df7cb-449e-4c8f-9693-c8fb1c2623c3" Alias="EHC.Header.PrimaryNav" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">القائمة الرئيسية</Translation>
    <Translation Language="en-US">Primary</Translation>
  </Translations>
</Dictionary>