<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="963819d1-29d5-4f88-84ef-0bc43d245b24" Alias="EHC.Health.Reviewed" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">آخر مراجعة طبية:</Translation>
    <Translation Language="en-US">Last clinical review:</Translation>
  </Translations>
</Dictionary>