<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2c7910b7-a019-4e56-8129-d10f81ab4997" Alias="EHC.Health.Disclaimer" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المعلومات في هذه الصفحة للتثقيف الصحي ولا تغني عن استشارة الطبيب.</Translation>
    <Translation Language="en-US">This page is for health education and does not replace advice from your doctor.</Translation>
  </Translations>
</Dictionary>