<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="45ffd8cd-e8fd-4c29-8204-ac5308a258ab" Alias="EHC.Health.Topic.chronic" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الأمراض المزمنة</Translation>
    <Translation Language="en-US">Long-term conditions</Translation>
  </Translations>
</Dictionary>