<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="de4e9d47-3b9c-4a91-82a7-5943319774f7" Alias="EHC.Header.HomeLabel" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الصفحة الرئيسية لتجمع الشرقية الصحي</Translation>
    <Translation Language="en-US">Eastern Health Cluster home</Translation>
  </Translations>
</Dictionary>