<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c8baf3ae-f9ee-43e5-be15-fbdcf805bbcd" Alias="EHC.Health.RelatedTools" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أدوات ذات صلة</Translation>
    <Translation Language="en-US">Related tools</Translation>
  </Translations>
</Dictionary>