<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cf3b6dc0-0736-42e1-ae61-a6422489744e" Alias="EHC.Health.Topic.elderly" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">صحة كبار السن</Translation>
    <Translation Language="en-US">Healthy ageing</Translation>
  </Translations>
</Dictionary>