<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="60fa5873-257f-4bd1-b32b-0b13803a5f4b" Alias="EHC.Health.Topic.seasonal" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المواسم والسفر</Translation>
    <Translation Language="en-US">Seasons &amp; travel</Translation>
  </Translations>
</Dictionary>