<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ce10a3fd-2830-4fb0-8534-5569d23ea2f0" Alias="EHC.Header.CloseMenu" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إغلاق القائمة</Translation>
    <Translation Language="en-US">Close menu</Translation>
  </Translations>
</Dictionary>