<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3d575aae-a272-4c8f-afd8-b1c57ea6a5d8" Alias="EHC.Health.Topic.medicines" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الأدوية</Translation>
    <Translation Language="en-US">Medicines</Translation>
  </Translations>
</Dictionary>