<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3a611a02-35f5-4fab-b40f-78433c7bf688" Alias="EHC.Health.Sources" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المصادر</Translation>
    <Translation Language="en-US">Sources</Translation>
  </Translations>
</Dictionary>