<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7b07bfe4-153a-5ac3-becf-9141dcc71584" Alias="EHC.Library.System.heart" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">القلب والأوعية الدموية</Translation>
    <Translation Language="en-US">Heart and blood vessels</Translation>
  </Translations>
</Dictionary>