<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="80910efb-fecf-51d5-a24f-d28a4f2604ba" Alias="EHC.Library.Entry.conditions" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الأمراض والحالات الصحية من الألف إلى الياء: الأعراض والأسباب والعلاج ومتى تطلب المساعدة.</Translation>
    <Translation Language="en-US">Conditions A–Z: symptoms, causes, treatment and when to get help.</Translation>
  </Translations>
</Dictionary>