<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4177b705-7581-5206-8f47-b95b2f414003" Alias="EHC.Library.AllSystems" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">كل أجزاء الجسم</Translation>
    <Translation Language="en-US">All body systems</Translation>
  </Translations>
</Dictionary>