<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8297202c-bda6-5b31-9b22-594817c12d36" Alias="EHC.Library.Search.Label" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ابحث في المكتبة الصحية</Translation>
    <Translation Language="en-US">Search the health library</Translation>
  </Translations>
</Dictionary>