<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="697f1373-f357-503c-a4bc-2991d242a5c9" Alias="EHC.Library.Focus.Eyebrow" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">في المنطقة الشرقية</Translation>
    <Translation Language="en-US">In the Eastern Province</Translation>
  </Translations>
</Dictionary>