<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a833bab6-083c-5158-add2-6443da995dab" Alias="EHC.Library.System.hormones" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الهرمونات والسكري</Translation>
    <Translation Language="en-US">Hormones and diabetes</Translation>
  </Translations>
</Dictionary>