<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f101a5e9-203d-5558-a9ab-c64df05b252e" Alias="EHC.Library.Help.Urgent" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اطلب استشارة عاجلة اليوم: اتصل على {0} أو راجع الرعاية العاجلة إذا:</Translation>
    <Translation Language="en-US">Get urgent advice today: call {0} or visit urgent care if:</Translation>
  </Translations>
</Dictionary>