<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bb5b4a1a-ec2c-5d6a-9bdc-faa67cacdf30" Alias="EHC.Library.System.cancer" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">السرطان</Translation>
    <Translation Language="en-US">Cancer</Translation>
  </Translations>
</Dictionary>