<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d0de9741-3579-5ab9-b62f-7d9192268f9d" Alias="EHC.Library.Section.diagnosis" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">التشخيص</Translation>
    <Translation Language="en-US">Diagnosis</Translation>
  </Translations>
</Dictionary>