<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4ea15dd5-82bc-59c0-a771-f60858e3e0eb" Alias="EHC.Library.Review.Awaiting" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">بانتظار المراجعة الطبية</Translation>
    <Translation Language="en-US">Awaiting clinical review</Translation>
  </Translations>
</Dictionary>