<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a67aa715-9da7-50de-96ef-4b421820c1af" Alias="EHC.Library.Policy.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">كيف نكتب معلوماتنا الصحية ونراجعها</Translation>
    <Translation Language="en-US">How we write and review our health information</Translation>
  </Translations>
</Dictionary>