<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5061b942-0d36-5f44-9408-7f5e8f4fe45b" Alias="EHC.Library.Section.during" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ماذا يحدث خلاله</Translation>
    <Translation Language="en-US">What happens</Translation>
  </Translations>
</Dictionary>