<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="356d9be4-7a9a-57b2-84b3-da58b5ff1cef" Alias="EHC.Library.System.bones" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">العظام والمفاصل والعضلات</Translation>
    <Translation Language="en-US">Bones, joints and muscles</Translation>
  </Translations>
</Dictionary>