<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e83d3c04-8afe-57c0-8c5f-851aec5fffae" Alias="EHC.Library.System.brain" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الدماغ والأعصاب</Translation>
    <Translation Language="en-US">Brain and nerves</Translation>
  </Translations>
</Dictionary>