<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="27c1fc72-a4da-5298-b979-5f2154038b2b" Alias="EHC.Library.System.skin" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الجلد</Translation>
    <Translation Language="en-US">Skin</Translation>
  </Translations>
</Dictionary>