<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8e3c5e95-99bd-554f-9394-5836d1e0926a" Alias="EHC.Library.System.reproductive" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">صحة المرأة والإنجاب</Translation>
    <Translation Language="en-US">Women's and reproductive health</Translation>
  </Translations>
</Dictionary>