<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="68003a8c-1d86-5b59-8cc2-9993f47ace47" Alias="EHC.Library.Section.about" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عن الفحص</Translation>
    <Translation Language="en-US">About the test</Translation>
  </Translations>
</Dictionary>