<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="30221670-30b0-51d2-92e9-ab7dfa15f779" Alias="EHC.Library.Focus.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">موضوعات في دائرة الضوء</Translation>
    <Translation Language="en-US">In focus</Translation>
  </Translations>
</Dictionary>