<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="990365bd-20e8-58e4-ac40-b91d7fbe4a2f" Alias="EHC.Library.Care.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الرعاية في تجمع الشرقية الصحي</Translation>
    <Translation Language="en-US">Care at Eastern Health Cluster</Translation>
  </Translations>
</Dictionary>