<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3b23ea8f-6b3e-58cd-aaf8-f32933232722" Alias="EHC.Library.Review.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المراجعة الطبية والمصادر</Translation>
    <Translation Language="en-US">Clinical review and sources</Translation>
  </Translations>
</Dictionary>