<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2bb2eb48-42ff-5889-abb8-cf7d8d762e6a" Alias="EHC.Library.Audience.pregnancy" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الحمل</Translation>
    <Translation Language="en-US">Pregnancy</Translation>
  </Translations>
</Dictionary>