<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="58ce4f6a-d38f-53ce-a9b1-4e1ea6cee393" Alias="EHC.Library.Related.Conditions" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">حالات ذات صلة</Translation>
    <Translation Language="en-US">Related conditions</Translation>
  </Translations>
</Dictionary>