<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a6c15d46-26b3-51dd-81ff-58dd439e6c8f" Alias="EHC.Library.Search.None" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لم نجد نتائج. جرّب كلمة أخرى أو تصفّح الحالات من الألف إلى الياء.</Translation>
    <Translation Language="en-US">No results. Try another word or browse conditions A–Z.</Translation>
  </Translations>
</Dictionary>