<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3ba634df-ee4a-5a09-8be0-51396bdecbb5" Alias="EHC.Library.System.kidneys" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الكلى والمسالك البولية</Translation>
    <Translation Language="en-US">Kidneys and urinary tract</Translation>
  </Translations>
</Dictionary>