<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d0de81d4-6e62-5404-8ce4-74660821896e" Alias="EHC.Library.Audience.children" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الأطفال</Translation>
    <Translation Language="en-US">Children</Translation>
  </Translations>
</Dictionary>