<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="88bfd5ef-fe9c-5c4a-9ba2-eed57f17cb6b" Alias="EHC.Library.Policy.Text" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لغة واضحة، ومصادر موثوقة، ومراجعة طبية قبل النشر وبشكل دوري.</Translation>
    <Translation Language="en-US">Plain language, trusted sources and clinical review before publishing and at regular intervals.</Translation>
  </Translations>
</Dictionary>