<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e7c5b0f8-43a6-51ba-85a9-f1892db1dba5" Alias="EHC.Library.Section.overview" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">نظرة عامة</Translation>
    <Translation Language="en-US">Overview</Translation>
  </Translations>
</Dictionary>