<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="23e1369f-db8e-5222-874a-2c1c4b498569" Alias="EHC.Library.System.lungs" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الرئتان والتنفس</Translation>
    <Translation Language="en-US">Lungs and breathing</Translation>
  </Translations>
</Dictionary>