<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="459a491e-116e-590f-a9d2-aa21f8cff594" Alias="EHC.Library.Audience.women" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">النساء</Translation>
    <Translation Language="en-US">Women</Translation>
  </Translations>
</Dictionary>