<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="de2491bc-ce92-4dce-9f5b-a9b643d5706a" Alias="EHC.Listen.Pause" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إيقاف مؤقت</Translation>
    <Translation Language="en-US">Pause</Translation>
  </Translations>
</Dictionary>