<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a0cdc9c6-5d5e-5ec4-89d1-a5f52e2272ee" Alias="EHC.Library.Search.Popular" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الأكثر بحثًا:</Translation>
    <Translation Language="en-US">Popular:</Translation>
  </Translations>
</Dictionary>