<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4b16ee96-4b90-5e43-a9b8-fec0953d07f4" Alias="EHC.Library.Audience.men" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الرجال</Translation>
    <Translation Language="en-US">Men</Translation>
  </Translations>
</Dictionary>