<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c0e3dd8b-587f-5e91-9b69-fb93e8581933" Alias="EHC.Library.Audiences" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تصفّح حسب الفئة</Translation>
    <Translation Language="en-US">Browse by who it's for</Translation>
  </Translations>
</Dictionary>