<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b1a83ddb-b8f9-571f-b9d2-38d3f4efccf7" Alias="EHC.Library.System.mental" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الصحة النفسية</Translation>
    <Translation Language="en-US">Mental health</Translation>
  </Translations>
</Dictionary>