<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="73052377-8163-5bb0-b1be-b650e3285d19" Alias="EHC.Library.Review.By" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">راجعه:</Translation>
    <Translation Language="en-US">Reviewed by:</Translation>
  </Translations>
</Dictionary>