<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f5c392f-14fe-53fc-ac71-387486f63b5c" Alias="EHC.Library.Search.Placeholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">حالة، عرض أو فحص… مثل: السكري، ضغط الدم</Translation>
    <Translation Language="en-US">A condition, symptom or test… e.g. diabetes, blood pressure</Translation>
  </Translations>
</Dictionary>