<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4dbb477e-ec10-5485-9154-d643842b885f" Alias="EHC.Library.Section.why" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لماذا يُجرى</Translation>
    <Translation Language="en-US">Why it is done</Translation>
  </Translations>
</Dictionary>