<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6cecab63-ab2a-5106-92d8-5e675949ab6e" Alias="EHC.Library.Care.Specialties" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">التخصصات</Translation>
    <Translation Language="en-US">Specialties</Translation>
  </Translations>
</Dictionary>