<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7b4cb19d-30a4-5db7-a8bd-28633b0262cc" Alias="EHC.Library.Search.tests" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ابحث عن فحص أو إجراء</Translation>
    <Translation Language="en-US">Search tests and procedures</Translation>
  </Translations>
</Dictionary>