<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="379b96f3-2883-5d48-b0c1-6dbaf7d5f555" Alias="EHC.Library.Help.Emergency" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اتصل على {0} أو توجّه إلى أقرب طوارئ فورًا إذا:</Translation>
    <Translation Language="en-US">Call {0} or go to the nearest emergency department now if:</Translation>
  </Translations>
</Dictionary>