<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f40389fc-55a5-5339-9513-e32a4fce5a78" Alias="EHC.Library.Focus.Read" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اقرأ المزيد</Translation>
    <Translation Language="en-US">Read more</Translation>
  </Translations>
</Dictionary>