<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2a6ed974-3a0b-51d8-9b2d-8c728adf1f7b" Alias="EHC.Library.Review.Last" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">آخر مراجعة</Translation>
    <Translation Language="en-US">Last reviewed</Translation>
  </Translations>
</Dictionary>