<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="71e9a15e-1b20-4d64-b0e5-92b913f930e5" Alias="EHC.Mega.AppFeature.4" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">التقارير الطبية</Translation>
    <Translation Language="en-US">Medical reports</Translation>
  </Translations>
</Dictionary>