<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a97f953a-e884-434e-8948-d0d5c7760ff3" Alias="EHC.Mega.AppFeature.3" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الوصفات الطبية</Translation>
    <Translation Language="en-US">Prescriptions</Translation>
  </Translations>
</Dictionary>