<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4a1c991c-567a-4627-b8b7-406c79743c4e" Alias="EHC.Mega.AppFeature.1" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المواعيد</Translation>
    <Translation Language="en-US">Appointments</Translation>
  </Translations>
</Dictionary>