<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ef8da6ef-af4a-4d74-9bf9-f7933b5e53c5" Alias="EHC.Mega.AppStores" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">متاجر التطبيقات</Translation>
    <Translation Language="en-US">App stores</Translation>
  </Translations>
</Dictionary>