<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c3c896b8-b650-441a-bac2-c4b656d23429" Alias="EHC.Navigator.SymptomPlaceholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مثال: ألم في الصدر، حمى، التواء</Translation>
    <Translation Language="en-US">e.g. chest pain, fever, sprain</Translation>
  </Translations>
</Dictionary>