<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="58cf9de7-3923-4647-bc89-703ec640ca9e" Alias="EHC.Network.Filter" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الشبكة الصحية</Translation>
    <Translation Language="en-US">Health network</Translation>
  </Translations>
</Dictionary>