<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8df8399e-ed02-4d8a-a675-57c8836a102f" Alias="EHC.Network.About" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عن {0}</Translation>
    <Translation Language="en-US">About {0}</Translation>
  </Translations>
</Dictionary>