<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="afcb2043-c8a6-4f42-b8c7-df69baaa1994" Alias="EHC.Navigator.Level.emergency" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">طوارئ</Translation>
    <Translation Language="en-US">Emergency</Translation>
  </Translations>
</Dictionary>