<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="00de69e1-8c9c-4430-a4a8-89aa45f0da9f" Alias="EHC.Navigator.Step2" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اختر ما تحتاجه</Translation>
    <Translation Language="en-US">Choose what you need</Translation>
  </Translations>
</Dictionary>