<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6eddb342-433f-46e5-8cb3-3da038090fc3" Alias="EHC.Navigator.Level.primary" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">رعاية أولية</Translation>
    <Translation Language="en-US">Primary care</Translation>
  </Translations>
</Dictionary>