<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e2e55de2-9428-4528-bea1-e6c3faf0b9d2" Alias="EHC.Navigator.Step1" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أخبرنا لمن الرعاية</Translation>
    <Translation Language="en-US">Tell us who needs care</Translation>
  </Translations>
</Dictionary>