<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dc76f03e-b9cf-4925-b1da-b050e93950f2" Alias="EHC.Navigator.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مرشد الرعاية</Translation>
    <Translation Language="en-US">Care navigator</Translation>
  </Translations>
</Dictionary>