<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e9743b1e-748a-4563-be88-aefce882d2be" Alias="EHC.Navigator.Heading" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لست متأكدًا إلى أين تتجه؟</Translation>
    <Translation Language="en-US">Not sure where to go?</Translation>
  </Translations>
</Dictionary>