<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a6e521a1-05d2-43ac-b4aa-bffa33dc9b1d" Alias="EHC.Network.Hospitals" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المستشفيات</Translation>
    <Translation Language="en-US">Hospitals</Translation>
  </Translations>
</Dictionary>