<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b5ff75b8-9306-4370-88f4-418437732d3b" Alias="EHC.Network.Emergency" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أقسام الطوارئ</Translation>
    <Translation Language="en-US">Emergency departments</Translation>
  </Translations>
</Dictionary>