<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bcd9a56b-42df-4ab9-b910-49103d7d5c54" Alias="EHC.Network.CenterCount" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المراكز الصحية: {0}</Translation>
    <Translation Language="en-US">{0} primary care centres</Translation>
  </Translations>
</Dictionary>