<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f61a2f2a-1acf-4da6-b81e-d1e17503c722" Alias="EHC.Network.Eyebrow" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">شبكة صحية</Translation>
    <Translation Language="en-US">Health network</Translation>
  </Translations>
</Dictionary>