<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="10887e84-699c-432c-acd2-14f21f82e954" Alias="EHC.Navigator.SymptomLabel" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">بماذا تشعر؟</Translation>
    <Translation Language="en-US">What symptom do you have?</Translation>
  </Translations>
</Dictionary>