<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1408ec07-21f6-46b5-9389-c2c5d4cc1318" Alias="EHC.Navigator.Locating" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جارٍ تحديد موقعك…</Translation>
    <Translation Language="en-US">Finding your location…</Translation>
  </Translations>
</Dictionary>