<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8adaf587-2293-4248-a464-edcb245a57fc" Alias="EHC.News.All" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جميع الأخبار</Translation>
    <Translation Language="en-US">All news</Translation>
  </Translations>
</Dictionary>