<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c9bc13aa-11a1-48ab-99d6-3e3220720e9e" Alias="EHC.Preview.BackHome" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">العودة إلى الرئيسية</Translation>
    <Translation Language="en-US">Back to home</Translation>
  </Translations>
</Dictionary>