<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ede12314-b052-4d75-8454-0ec7e25e0f6d" Alias="EHC.Preview.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">هذا المحتوى غير متاح</Translation>
    <Translation Language="en-US">This content isn't available</Translation>
  </Translations>
</Dictionary>