<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="394cbb8b-c645-4522-bca9-e802eeb2109a" Alias="EHC.QuickActions.EmergencyCall" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">حالة طارئة؟ اتصل</Translation>
    <Translation Language="en-US">Emergency? Call</Translation>
  </Translations>
</Dictionary>