<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="497ca24f-0acc-49c0-8ff0-d41fb84c8b28" Alias="EHC.Specialty.Where" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أين تتوفر الخدمة</Translation>
    <Translation Language="en-US">Where it's offered</Translation>
  </Translations>
</Dictionary>