<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="769fff06-59f6-44c4-8552-af3ef0de9e19" Alias="EHC.Search.Group.specialties" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">التخصصات</Translation>
    <Translation Language="en-US">Specialties</Translation>
  </Translations>
</Dictionary>