<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="29bc00b5-5fb8-46bc-9773-fb674be2c0ce" Alias="EHC.Search.Group.services" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الخدمات الإلكترونية</Translation>
    <Translation Language="en-US">E-services</Translation>
  </Translations>
</Dictionary>