<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f978946f-8d16-4fae-8c96-193fa7fface1" Alias="EHC.Search.Group.articles" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">المكتبة الصحية</Translation>
    <Translation Language="en-US">Health library</Translation>
  </Translations>
</Dictionary>