<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d8565a18-3dc0-4185-9434-5335d2689d06" Alias="EHC.Share.Copy" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">نسخ الرابط</Translation>
    <Translation Language="en-US">Copy link</Translation>
  </Translations>
</Dictionary>