<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2de16889-21b4-40c5-8702-727b1aa22f3f" Alias="EHC.Search.Scope.service" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">خدمة</Translation>
    <Translation Language="en-US">Service</Translation>
  </Translations>
</Dictionary>