<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8420e359-e6cd-4405-b7c0-176686113616" Alias="EHC.Share.Copied" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تم نسخ الرابط</Translation>
    <Translation Language="en-US">Link copied</Translation>
  </Translations>
</Dictionary>