<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="94eb4d1b-2dc7-4d29-9ebb-c051703d36eb" Alias="EHC.Search.Loading" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جارٍ البحث…</Translation>
    <Translation Language="en-US">Searching…</Translation>
  </Translations>
</Dictionary>