<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8723133e-837e-40d5-904c-00e24206bb45" Alias="EHC.Search.Recent" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عمليات البحث الأخيرة</Translation>
    <Translation Language="en-US">Recent searches</Translation>
  </Translations>
</Dictionary>