<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4d8af1a5-fa8f-4976-af18-f1e1f974685d" Alias="EHC.Search.Scope.facility" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">منشأة</Translation>
    <Translation Language="en-US">Facility</Translation>
  </Translations>
</Dictionary>