<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="60cc5746-4fa2-48b2-b832-25afcdfc7cd6" Alias="EHC.Search.NoResults" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لا نتائج. جرّب كلمة أخرى أو اتصل على 937.</Translation>
    <Translation Language="en-US">No results. Try another word, or call 937.</Translation>
  </Translations>
</Dictionary>