<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="902afea2-d83e-4af5-a46c-bb85f760f5ac" Alias="EHC.Share.Email" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إرسال بالبريد الإلكتروني</Translation>
    <Translation Language="en-US">Send by email</Translation>
  </Translations>
</Dictionary>