<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="976c612c-f471-4885-95b8-963827f60663" Alias="EHC.Search.ClearRecent" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مسح</Translation>
    <Translation Language="en-US">Clear</Translation>
  </Translations>
</Dictionary>