<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a34c3f9e-3860-44f3-b316-e988c43b1dd7" Alias="EHC.Search.Scope.doctor" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">طبيب</Translation>
    <Translation Language="en-US">Doctor</Translation>
  </Translations>
</Dictionary>