<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c025ae6c-231f-4156-955b-5386eae8cd6c" Alias="EHC.Search.Popular" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الأكثر بحثًا:</Translation>
    <Translation Language="en-US">Popular:</Translation>
  </Translations>
</Dictionary>