<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c0ab0e98-b3c4-443d-91a2-e55cf986594c" Alias="EHC.Search.KeysOpen" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">للفتح</Translation>
    <Translation Language="en-US">to open</Translation>
  </Translations>
</Dictionary>