<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5859bdb3-2e09-461c-8a16-d88a70f02062" Alias="EHC.Search.Scope" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">نطاق البحث</Translation>
    <Translation Language="en-US">Search in</Translation>
  </Translations>
</Dictionary>