<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fc3a30bb-999b-463f-9411-f9391b76df1b" Alias="EHC.Search.Error" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تعذّر البحث الآن. حاول مرة أخرى.</Translation>
    <Translation Language="en-US">Search is unavailable right now. Please try again.</Translation>
  </Translations>
</Dictionary>