<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e7010058-0770-403f-8167-a506003e8b69" Alias="EHC.Tools.Open" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">استخدم الأداة</Translation>
    <Translation Language="en-US">Use the tool</Translation>
  </Translations>
</Dictionary>