<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="032cacce-b350-4b14-b934-896b1f30ce3b" Alias="EHC.Tools.Va.CalText" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ضع بطاقة مصرفية على الشاشة فوق المستطيل، ثم حرّك المؤشر حتى يطابق عرض المستطيل عرض البطاقة تمامًا.</Translation>
    <Translation Language="en-US">Hold a bank card against the screen over the rectangle, then move the slider until the rectangle is exactly as wide as the card.</Translation>
  </Translations>
</Dictionary>