<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="340a1645-ba1c-49a3-92df-110d1967ef06" Alias="EHC.Tools.Name.prediabetes" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اختبار خطر الإصابة بمقدمات السكري</Translation>
    <Translation Language="en-US">Prediabetes risk test</Translation>
  </Translations>
</Dictionary>