<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2235db02-21d7-4220-8431-1089bb467141" Alias="EHC.Tools.Category.pregnancy" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الحمل والإنجاب</Translation>
    <Translation Language="en-US">Pregnancy</Translation>
  </Translations>
</Dictionary>