<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aec72d20-0767-4547-bd18-1af14255ae89" Alias="EHC.Tools.YourScore" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مجموع نقاطك</Translation>
    <Translation Language="en-US">Your score</Translation>
  </Translations>
</Dictionary>