<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7f2ff0e7-6bc0-4a9f-9db0-76c0454a78fc" Alias="EHC.Tools.Pre.Intro" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أجب عن الأسئلة التالية لمعرفة احتمال إصابتك بمقدمات السكري. يستغرق ذلك دقيقة واحدة.</Translation>
    <Translation Language="en-US">Answer these questions to find out whether you may be at risk of prediabetes. It takes about a minute.</Translation>
  </Translations>
</Dictionary>