<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c8be66e5-d9e4-43f3-8d59-09da6571a047" Alias="EHC.Tools.Due.T2" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الثلث الثاني</Translation>
    <Translation Language="en-US">Second trimester</Translation>
  </Translations>
</Dictionary>