<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6883934b-8b9e-4ce2-8120-01ff765578ce" Alias="EHC.Tools.Name.dueDate" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">حاسبة موعد الولادة</Translation>
    <Translation Language="en-US">Pregnancy due date calculator</Translation>
  </Translations>
</Dictionary>