<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="da080c03-2326-4bb5-bc1d-eb58150c86c8" Alias="EHC.Tools.Pre.sex" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ما جنسك؟</Translation>
    <Translation Language="en-US">Are you a man or a woman?</Translation>
  </Translations>
</Dictionary>