<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="caf1756f-5111-45cb-a67a-f547443e8a79" Alias="EHC.Tools.Va.Start" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ابدأ الاختبار</Translation>
    <Translation Language="en-US">Start the test</Translation>
  </Translations>
</Dictionary>