<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f6546eb2-ec48-4f24-9b60-b6d4777c347b" Alias="EHC.Tools.Va.Continue" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تابع</Translation>
    <Translation Language="en-US">Continue</Translation>
  </Translations>
</Dictionary>