<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b3c8dde7-4339-42ab-b9e2-b29a8d83a733" Alias="EHC.Tools.Pre.active" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">هل تمارس نشاطًا بدنيًا بانتظام؟</Translation>
    <Translation Language="en-US">Are you physically active?</Translation>
  </Translations>
</Dictionary>