<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="288bb37c-092a-4ae0-a864-f3a13f7b3a18" Alias="EHC.Tools.Va.Intro" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">فحص سريع لحدة الإبصار لكل عين على حدة باستخدام الحرف E. لا يغني عن فحص النظر لدى أخصائي.</Translation>
    <Translation Language="en-US">A quick check of how sharp your sight is in each eye, using the letter E. It doesn't replace an eye test by a specialist.</Translation>
  </Translations>
</Dictionary>