<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="338f5573-170e-4c7c-9b63-d0051d81de65" Alias="EHC.Tools.Cal.Gain" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لزيادة الوزن تدريجيًا</Translation>
    <Translation Language="en-US">To gain weight gradually</Translation>
  </Translations>
</Dictionary>