<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1780316f-d36b-49c8-9bd5-b7347dabea35" Alias="EHC.Tools.Act.Band.fair" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الربو غير مسيطر عليه جيدًا</Translation>
    <Translation Language="en-US">Not well controlled</Translation>
  </Translations>
</Dictionary>