<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="92b8d4a0-7ba0-457c-81e4-52d8ad63ee7f" Alias="EHC.Tools.Bmi.Yours" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مؤشر كتلة جسمك</Translation>
    <Translation Language="en-US">Your BMI</Translation>
  </Translations>
</Dictionary>