<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="15d9f556-e82a-488f-ad7e-04953b578423" Alias="EHC.Tools.Va.Right" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">العين اليمنى</Translation>
    <Translation Language="en-US">Right eye</Translation>
  </Translations>
</Dictionary>