<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="91f1e370-0204-4a55-af0b-4657a6ad64f3" Alias="EHC.Tools.Pre.weight" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ما طولك ووزنك؟</Translation>
    <Translation Language="en-US">What are your height and weight?</Translation>
  </Translations>
</Dictionary>