<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="567a3937-081d-40c0-aa0f-1bec6908fde9" Alias="EHC.Tools.Pre.pressure" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">هل سبق تشخيصك بارتفاع ضغط الدم؟</Translation>
    <Translation Language="en-US">Have you ever been diagnosed with high blood pressure?</Translation>
  </Translations>
</Dictionary>