<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="249be9ca-ed99-46d0-9527-14a6cbd9e3a3" Alias="EHC.Tools.Act.q5.a3" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">سيطرة جزئية</Translation>
    <Translation Language="en-US">Somewhat controlled</Translation>
  </Translations>
</Dictionary>