<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c80cf604-2c59-4bfe-833e-c4b9bbf87cae" Alias="EHC.Tools.Act.Band.poorText" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الربو لديك غير مسيطر عليه، فراجع طبيبك في أقرب وقت. إذا واجهت صعوبة شديدة في التنفس فاتصل بالرقم 997 فورًا.</Translation>
    <Translation Language="en-US">Your asthma is poorly controlled. See your doctor soon. If you have severe difficulty breathing, call 997 now.</Translation>
  </Translations>
</Dictionary>