<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6901f9c0-0ffe-4a0f-b852-ca7827231a4f" Alias="EHC.Tools.Va.DirLeft" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إلى اليسار</Translation>
    <Translation Language="en-US">Left</Translation>
  </Translations>
</Dictionary>