<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="15cf712a-6583-4438-876a-6475682b44cd" Alias="EHC.Tools.Pre.family" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">هل لديك أب أو أم أو أخ أو أخت مصاب بالسكري؟</Translation>
    <Translation Language="en-US">Do you have a mother, father, sister or brother with diabetes?</Translation>
  </Translations>
</Dictionary>