<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f890d153-9f59-4ace-b60e-c8055d85738d" Alias="EHC.Tools.More" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أدوات صحية أخرى</Translation>
    <Translation Language="en-US">More health tools</Translation>
  </Translations>
</Dictionary>