<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8984138e-8ab2-46ed-9a52-2616682b23fa" Alias="EHC.Tools.Cal.Act3" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">نشاط متوسط (رياضة 3–5 أيام أسبوعيًا)</Translation>
    <Translation Language="en-US">Moderately active (exercise 3–5 days a week)</Translation>
  </Translations>
</Dictionary>