<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b50e2963-cda3-44b6-846d-1265e0db19a1" Alias="EHC.Tools.Kind.test" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تقييم ذاتي</Translation>
    <Translation Language="en-US">Self-check</Translation>
  </Translations>
</Dictionary>