<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2b074081-72f9-4d0a-bf14-40148ff88c62" Alias="EHC.Tools.ScoreFormat" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">{0} من {1}</Translation>
    <Translation Language="en-US">{0} out of {1}</Translation>
  </Translations>
</Dictionary>