<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2146db0c-594e-40b4-b07e-61e2b94e6704" Alias="EHC.Tools.Pre.Band.low" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">خطر منخفض</Translation>
    <Translation Language="en-US">Lower risk</Translation>
  </Translations>
</Dictionary>