<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2780d7cc-b9c0-4b91-aee5-c0fb7c475667" Alias="EHC.Tools.Va.CoverRight" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">غطِّ عينك اليمنى الآن وافتح اليسرى.</Translation>
    <Translation Language="en-US">Now cover your right eye and open the left.</Translation>
  </Translations>
</Dictionary>