<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d878fa5c-eb15-4825-a186-19589b5df34f" Alias="EHC.Tools.Disclaimer" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">هذه الأداة للتوعية فقط ولا تغني عن استشارة الطبيب أو التشخيص الطبي.</Translation>
    <Translation Language="en-US">This tool is for general awareness and does not replace a doctor's advice or a medical diagnosis.</Translation>
  </Translations>
</Dictionary>