<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="98b6a64b-1677-473f-b8dc-ade5f2081cd7" Alias="EHC.Tools.Act.q5.a5" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">سيطرة تامة</Translation>
    <Translation Language="en-US">Completely controlled</Translation>
  </Translations>
</Dictionary>