<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="66f37a57-0943-48b8-9570-66399d240c71" Alias="EHC.Tools.Pre.age.40to49" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">40–49</Translation>
    <Translation Language="en-US">40–49</Translation>
  </Translations>
</Dictionary>