<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e57a3bca-91c2-46b2-b3b5-99c62d195c57" Alias="EHC.Tools.Va.Left" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">العين اليسرى</Translation>
    <Translation Language="en-US">Left eye</Translation>
  </Translations>
</Dictionary>