<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b2e2b559-9a95-4108-a2c3-b49019b888a2" Alias="EHC.Tools.Va.DistTitle" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مسافة الاختبار</Translation>
    <Translation Language="en-US">Test distance</Translation>
  </Translations>
</Dictionary>