<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5919269a-f5ff-48e3-8dd9-2d519d2e0046" Alias="EHC.Tools.MinutesFormat" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">{0} دقيقة تقريبًا</Translation>
    <Translation Language="en-US">~{0} min</Translation>
  </Translations>
</Dictionary>