<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="28554be4-abf7-4141-8e68-60d4b29e4bef" Alias="EHC.Tools.CountFormat" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عدد الأدوات: {0}</Translation>
    <Translation Language="en-US">{0} tools</Translation>
  </Translations>
</Dictionary>