<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2fd833b1-094b-45ea-aee6-1193724cfed9" Alias="EHC.Tools.Va.Below" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أقل من 6/60</Translation>
    <Translation Language="en-US">Below 6/60</Translation>
  </Translations>
</Dictionary>