<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f939e55-f4e8-4ff7-b48c-97ff22f2691b" Alias="EHC.Tools.Act.q5.a4" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">سيطرة جيدة</Translation>
    <Translation Language="en-US">Well controlled</Translation>
  </Translations>
</Dictionary>