<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1925db93-a946-49b5-8618-1eb397ec03e2" Alias="EHC.Tools.Act.q2.a2" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مرة يوميًا</Translation>
    <Translation Language="en-US">Once a day</Translation>
  </Translations>
</Dictionary>