<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="df37ae69-8cd3-45a8-af55-9e02298b8473" Alias="EHC.Tools.TryNow" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جرّبها الآن</Translation>
    <Translation Language="en-US">Try it now</Translation>
  </Translations>
</Dictionary>