<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b8b2b50c-24f3-4846-b818-5b6ae1bdc4d3" Alias="EHC.Testimonials.Rating" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">التقييم {0} من 5</Translation>
    <Translation Language="en-US">Rated {0} out of 5</Translation>
  </Translations>
</Dictionary>