<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7e4fbd1d-d909-4575-b182-730b7724c26a" Alias="EHC.Tools.Due.Date" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">موعد الولادة المتوقع</Translation>
    <Translation Language="en-US">Estimated due date</Translation>
  </Translations>
</Dictionary>