<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a0219194-edb1-460d-b283-806028924bac" Alias="EHC.Tools.Va.Normal" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ضمن الحدود الطبيعية للفحص في كلتا العينين (6/9 أو أفضل).</Translation>
    <Translation Language="en-US">Within the normal screening range in both eyes (6/9 or better).</Translation>
  </Translations>
</Dictionary>