<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0b2affeb-28c9-4ec0-8a88-c7c13941752e" Alias="EHC.Tools.Act.q5.a2" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">سيطرة ضعيفة</Translation>
    <Translation Language="en-US">Poorly controlled</Translation>
  </Translations>
</Dictionary>