<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2b4e7418-3633-4f8a-bf4f-7208f3d54752" Alias="EHC.Tools.Cal.Activity" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مستوى النشاط البدني</Translation>
    <Translation Language="en-US">Activity level</Translation>
  </Translations>
</Dictionary>