<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b0ea6064-07d1-4b08-b809-476bce8d9fce" Alias="EHC.Tools.Ovu.Note" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">التواريخ تقديرية وتفترض دورة منتظمة. إذا لم يحدث الحمل بعد سنة من المحاولة (أو 6 أشهر إذا تجاوز عمرك 35 سنة) فاستشيري الطبيب.</Translation>
    <Translation Language="en-US">Dates are estimates and assume a regular cycle. If you haven't conceived after a year of trying (or 6 months if you're over 35), talk to your doctor.</Translation>
  </Translations>
</Dictionary>