<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a3e9b07e-52c8-4567-980c-3929316cadc1" Alias="EHC.Tools.Due.Note" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">هذا موعد تقديري، وقليل من الولادات تحدث في الموعد المتوقع بالضبط. يؤكد طبيبك الموعد بالفحص بالموجات فوق الصوتية. احرصي على متابعة الحمل في أقرب مركز رعاية صحية أولية.</Translation>
    <Translation Language="en-US">This is an estimate; few babies arrive exactly on their due date. Your doctor will confirm it with an ultrasound scan. Book your pregnancy check-ups at your nearest primary care centre.</Translation>
  </Translations>
</Dictionary>