<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3c9ea706-9056-4660-89a8-43b402556172" Alias="EHC.Tools.Pre.age.50to59" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">50–59</Translation>
    <Translation Language="en-US">50–59</Translation>
  </Translations>
</Dictionary>