<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b73cceee-531a-48ec-9f95-3185d5af2c02" Alias="EHC.Tools.Cal.PerDay" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">سعرة/يوم</Translation>
    <Translation Language="en-US">kcal/day</Translation>
  </Translations>
</Dictionary>