<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9571f86c-7d95-4004-a974-1ef0b301ccb1" Alias="EHC.Tools.Pre.age.60plus" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">60 فأكثر</Translation>
    <Translation Language="en-US">60 or older</Translation>
  </Translations>
</Dictionary>