<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="22935b99-d952-4157-9aaa-8995a28eec5c" Alias="EHC.Tools.Pre.Band.highText" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">قد تكون معرّضًا بدرجة عالية للإصابة بمقدمات السكري أو السكري من النوع الثاني. راجع أقرب مركز رعاية صحية أولية لإجراء تحليل السكر التراكمي (HbA1c).</Translation>
    <Translation Language="en-US">You may be at high risk of prediabetes or type 2 diabetes. Visit your nearest primary care centre for an HbA1c blood test.</Translation>
  </Translations>
</Dictionary>