<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4688737c-081c-43f7-902e-3e83a84ca172" Alias="EHC.Tools.Cal.Act2" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">نشاط خفيف (رياضة 1–3 أيام أسبوعيًا)</Translation>
    <Translation Language="en-US">Lightly active (exercise 1–3 days a week)</Translation>
  </Translations>
</Dictionary>