<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="667cacb1-3e93-4142-a0ab-2e9c78a15148" Alias="EHC.Tools.Va.DirRight" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">إلى اليمين</Translation>
    <Translation Language="en-US">Right</Translation>
  </Translations>
</Dictionary>