<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3931870a-df99-48ea-ba00-dd4ae6c9ccaf" Alias="EHC.Tools.Pre.gestational" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">هل سبق تشخيصك بسكري الحمل؟</Translation>
    <Translation Language="en-US">Have you ever been diagnosed with gestational diabetes (diabetes during pregnancy)?</Translation>
  </Translations>
</Dictionary>