<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="82da3e99-a42e-48b1-86ff-98f98eec7188" Alias="EHC.Tools.Va.SwitchTitle" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الآن العين اليسرى</Translation>
    <Translation Language="en-US">Now the left eye</Translation>
  </Translations>
</Dictionary>