<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="407b3dc3-599a-4cb2-a75f-555b979d508c" Alias="EHC.Tools.Cal.Intro" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تقدير لاحتياجك اليومي من السعرات الحرارية حسب عمرك وجسمك ونشاطك.</Translation>
    <Translation Language="en-US">An estimate of the calories you need each day for your age, body and activity.</Translation>
  </Translations>
</Dictionary>