<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2983561e-2c9f-4135-9e5b-61cb97be5cc7" Alias="EHC.Tools.Empty" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أدخل بياناتك واضغط «احسب» لعرض النتيجة.</Translation>
    <Translation Language="en-US">Enter your details and select "Calculate" to see your result.</Translation>
  </Translations>
</Dictionary>