<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="04a009c7-db88-455d-a72d-81df2cc8f001" Alias="EHC.Tools.Act.q2.a5" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لم يحدث أبدًا</Translation>
    <Translation Language="en-US">Not at all</Translation>
  </Translations>
</Dictionary>