<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0aa3a72f-8f18-4a05-b67b-6ae52830c11f" Alias="EHC.Tools.Act.q3.a5" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">لم يحدث أبدًا</Translation>
    <Translation Language="en-US">Not at all</Translation>
  </Translations>
</Dictionary>