<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7b42153b-8ba4-45da-b696-3137dd9110a5" Alias="EHC.Tools.ShowResult" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اعرض النتيجة</Translation>
    <Translation Language="en-US">Show my result</Translation>
  </Translations>
</Dictionary>