<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a4122eb7-17c0-4a9e-b528-b768cdd3c6f6" Alias="EHC.Tools.Name.ovulation" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أفضل وقت لحدوث الحمل</Translation>
    <Translation Language="en-US">Best time to get pregnant</Translation>
  </Translations>
</Dictionary>