<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d85f1a0e-ab15-4d98-bb31-36d1a8bfc5be" Alias="EHC.Tools.Va.Step1" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">جهّز بطاقة مصرفية أو بطاقة هوية لمعايرة الشاشة.</Translation>
    <Translation Language="en-US">Have a bank card or ID card ready to calibrate your screen.</Translation>
  </Translations>
</Dictionary>