<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="986c0992-cc88-42a4-a3d0-6ddca79ac3b0" Alias="EHC.Tools.Act.q3.a2" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ليلتان أو 3 ليالٍ أسبوعيًا</Translation>
    <Translation Language="en-US">2 or 3 nights a week</Translation>
  </Translations>
</Dictionary>