<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9060a67d-a668-4103-bcac-53a5caeb523c" Alias="EHC.Tools.Ibw.Intro" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الوزن المثالي التقريبي للبالغين حسب الطول والجنس، مع نطاق الوزن الصحي لطولك.</Translation>
    <Translation Language="en-US">An estimate of ideal body weight for adults by height and sex, with the healthy weight range for your height.</Translation>
  </Translations>
</Dictionary>