<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="95159223-d97c-4d4c-af63-d4ee3cdb99c5" Alias="EHC.Tools.Name.asthma" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">اختبار التحكم في الربو</Translation>
    <Translation Language="en-US">Asthma control test</Translation>
  </Translations>
</Dictionary>