<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e42b0d05-f2c6-4681-8eda-b5de51650651" Alias="EHC.Tools.Act.q1.a1" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">طوال الوقت</Translation>
    <Translation Language="en-US">All of the time</Translation>
  </Translations>
</Dictionary>