<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a55f881f-434f-4d56-8ec2-423764faffa6" Alias="EHC.Tools.Act.Intro" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">للبالغين والأطفال من 12 سنة فأكثر: أجب عن خمسة أسئلة عن الأسابيع الأربعة الماضية لمعرفة مدى السيطرة على الربو.</Translation>
    <Translation Language="en-US">For adults and children aged 12 and over: answer five questions about the past 4 weeks to see how well your asthma is controlled.</Translation>
  </Translations>
</Dictionary>