<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fb1a0fe2-e503-4cec-ab7a-840d2b452c24" Alias="EHC.Tools.NoSignUp" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">دون تسجيل</Translation>
    <Translation Language="en-US">No sign-up needed</Translation>
  </Translations>
</Dictionary>