<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="89a3a51e-4025-404a-a787-e12fa5f20ff9" Alias="EHC.Tools.Va.CalRange" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">عرض البطاقة على الشاشة</Translation>
    <Translation Language="en-US">Card width on screen</Translation>
  </Translations>
</Dictionary>