<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d132ce1b-bb23-4075-abb5-e365ec9d1145" Alias="EHC.Tools.Act.q2.a1" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">أكثر من مرة يوميًا</Translation>
    <Translation Language="en-US">More than once a day</Translation>
  </Translations>
</Dictionary>