<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6966f572-f6ce-499d-b402-53404f6a15e6" Alias="EHC.Tools.Act.q3.a4" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مرة أو مرتين فقط</Translation>
    <Translation Language="en-US">Once or twice</Translation>
  </Translations>
</Dictionary>