<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="875fbcc2-56a9-45f4-b80b-da0cc0d24e2b" Alias="EHC.Tools.Act.q1" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">خلال الأسابيع الأربعة الماضية، كم من الوقت منعك الربو من إنجاز أعمالك في العمل أو الدراسة أو المنزل؟</Translation>
    <Translation Language="en-US">In the past 4 weeks, how much of the time did your asthma keep you from getting as much done at work, school or at home?</Translation>
  </Translations>
</Dictionary>