<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="55a200b9-8e60-4846-bfcd-3beab004c898" Alias="EHC.Tools.Act.q2.a4" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">مرة أو مرتين أسبوعيًا</Translation>
    <Translation Language="en-US">Once or twice a week</Translation>
  </Translations>
</Dictionary>