<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4f36d7ad-909b-464a-ad90-2c72b9edbe76" Alias="EHC.Utility.HighContrast" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تباين عالٍ</Translation>
    <Translation Language="en-US">High contrast</Translation>
  </Translations>
</Dictionary>