<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="db5dc6e4-91e1-4e08-bf23-658136c37fce" Alias="EHC.Utility.SmallerText" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تصغير النص</Translation>
    <Translation Language="en-US">Smaller text</Translation>
  </Translations>
</Dictionary>