<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b3e2c12b-22cc-44d9-bd54-ddaf2e9724f3" Alias="EHC.Video.Privacy" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">يُحمَّل الفيديو من يوتيوب عند الضغط على تشغيل.</Translation>
    <Translation Language="en-US">The video loads from YouTube when you press play.</Translation>
  </Translations>
</Dictionary>