<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6e87cb82-5f7f-4fdf-aca4-181440b385bb" Alias="EHC.Video.Play" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">تشغيل الفيديو</Translation>
    <Translation Language="en-US">Play video</Translation>
  </Translations>
</Dictionary>