<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7784c45c-b751-478d-9ed1-a740d8472a1a" Alias="EHC.Visit.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">دليل الزوار</Translation>
    <Translation Language="en-US">Visitor guide</Translation>
  </Translations>
</Dictionary>