<?xml version="1.0" encoding="utf-8"?>
<DataType Key="737ffe50-2cd0-4cee-b07c-318ce00beb30" Alias="EHC - Band tone" Level="2">
  <Info>
    <Name>EHC - Band tone</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "deep",
    "light",
    "brand"
  ],
  "multiple": false
}]]></Config>
</DataType>