<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12cf4a87-e93a-4481-9650-29f2f6714446" Alias="EHC - Column items" Level="2">
  <Info>
    <Name>EHC - Column items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9696c34e-c40e-4c2b-9c7c-daff4c96ee24",
      "label": "{=heading | fallback:⚠ no text in this language}"
    }
  ],
  "validationLimit": {
    "max": 3
  }
}]]></Config>
</DataType>