<?xml version="1.0" encoding="utf-8"?>
<DataType Key="52f8987b-8c58-44fe-bc0b-b60960a92f7b" Alias="EHC - Floating card entrance" Level="2">
  <Info>
    <Name>EHC - Floating card entrance</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "None",
    "Rise in",
    "Slide in"
  ],
  "multiple": false
}]]></Config>
</DataType>