<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f331f1a-6b87-476a-804f-01719349c793" Alias="EHC - Column layout" Level="2">
  <Info>
    <Name>EHC - Column layout</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1-1",
    "2-1",
    "1-2",
    "1-1-1"
  ],
  "multiple": false
}]]></Config>
</DataType>