<?xml version="1.0" encoding="utf-8"?>
<DataType Key="692d2d2b-4ec7-43ba-929f-2a34ee140040" Alias="EHC - Floating card layout" Level="2">
  <Info>
    <Name>EHC - Floating card layout</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Stacked",
    "Scattered"
  ],
  "multiple": false
}]]></Config>
</DataType>