<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e1f0f0a-fa5f-4008-8d54-6fd8b1eb8a77" Alias="EHC - Care levels" Level="2">
  <Info>
    <Name>EHC - Care levels</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b29248ce-9ef4-4542-ae88-9a9be26f9b86",
      "label": "{=level}: {=title | fallback:⚠ no text in this language}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>