<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6059b7d3-4cb1-4c7a-b634-4647e1f7d40a" Alias="EHC - Carousel or grid" Level="2">
  <Info>
    <Name>EHC - Carousel or grid</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "carousel",
    "grid"
  ],
  "multiple": false
}]]></Config>
</DataType>