<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c948c1c2-b1f4-4272-963b-9d29f5012328" Alias="EHC - Contact items" Level="2">
  <Info>
    <Name>EHC - Contact items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "486ee585-e936-4b7c-9301-bdab68d0e842",
      "label": "{=title}"
    }
  ],
  "validationLimit": {
    "max": 4
  }
}]]></Config>
</DataType>