<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acd7423d-9152-48d4-9b52-7a0f36c7dd95" Alias="EHC - Floating card motion" Level="2">
  <Info>
    <Name>EHC - Floating card motion</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "None",
    "Float",
    "Drift",
    "Sway"
  ],
  "multiple": false
}]]></Config>
</DataType>