<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f811f8c9-8d15-4d19-b20a-5cbe2226e615" Alias="EHC - Date time (Riyadh)" Level="2">
  <Info>
    <Name>EHC - Date time (Riyadh)</Name>
    <EditorAlias>Umbraco.DateTimeWithTimeZone</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateTimeWithTimeZonePicker</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "timeFormat": "HH:mm",
  "timeZones": {
    "mode": "custom",
    "timeZones": [
      "Asia/Riyadh"
    ]
  }
}]]></Config>
</DataType>