<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec21206e-fdef-40a0-a41d-73e0e3959ef1" Alias="EHC - Date" Level="2">
  <Info>
    <Name>EHC - Date</Name>
    <EditorAlias>Umbraco.DateOnly</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateOnlyPicker</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>