<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95b37150-c2e5-48e9-a221-abc0ea57491a" Alias="EHC - Downloads" Level="2">
  <Info>
    <Name>EHC - Downloads</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7e128f4f-adf3-4207-87d3-ba396e48819c",
      "label": "{=title}"
    }
  ],
  "validationLimit": {}
}]]></Config>
</DataType>