<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e0c0cb4-c838-4538-9e67-142c5bc7e251" Alias="EHC - Doctors mode" Level="2">
  <Info>
    <Name>EHC - Doctors mode</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "picked",
    "bySpecialty",
    "random"
  ],
  "multiple": false
}]]></Config>
</DataType>