<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8aeba9d-15b2-46c9-baa6-ea71d106f363" Alias="EHC - Excellence items" Level="2">
  <Info>
    <Name>EHC - Excellence items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "70f46785-bb02-46fa-93ee-2ee0ba1f0c4d",
      "label": "{=title}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>