<?xml version="1.0" encoding="utf-8"?>
<DataType Key="883fc1bc-49d8-4f94-911b-e5ff2b3a63a0" Alias="EHC - Embed provider" Level="2">
  <Info>
    <Name>EHC - Embed provider</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "microsoftForms",
    "powerBi",
    "frappe"
  ],
  "multiple": false
}]]></Config>
</DataType>