<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c9bd600-d88c-4f64-8a96-69bbdb5d54c3" Alias="EHC - Floating cards" Level="2">
  <Info>
    <Name>EHC - Floating cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c9113f16-53a9-4816-b5cf-6d7a93d22708",
      "label": "{=title}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>