<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e25b130-2006-4f7e-a278-60dab4b7819c" Alias="EHC - Feature items" Level="2">
  <Info>
    <Name>EHC - Feature items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "669181e0-db42-4649-97d5-0ea8384b41cb",
      "label": "{=title}"
    }
  ],
  "validationLimit": {}
}]]></Config>
</DataType>