<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c64e0da-654c-496b-9b0f-2353a18da24c" Alias="EHC - Feature style" Level="2">
  <Info>
    <Name>EHC - Feature style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "cards",
    "minimal",
    "numbered",
    "boxed",
    "list"
  ],
  "multiple": false
}]]></Config>
</DataType>