<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea08a846-215b-459d-9d7b-bd06bc3b7def" Alias="EHC - Frame style" Level="2">
  <Info>
    <Name>EHC - Frame style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "tilted",
    "plain"
  ],
  "multiple": false
}]]></Config>
</DataType>