<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd9c8959-7ca2-44c0-aa72-771f70e3ac47" Alias="EHC - Footer columns" Level="2">
  <Info>
    <Name>EHC - Footer columns</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "eb1b7788-f921-41e5-b7e9-83f1d618e220",
      "label": "{=heading}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>