<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4635b7c9-dd5f-434d-b9f6-183596f84c8c" Alias="EHC - Grid or carousel" Level="2">
  <Info>
    <Name>EHC - Grid or carousel</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "grid",
    "carousel"
  ],
  "multiple": false
}]]></Config>
</DataType>