<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74791117-d0ce-42bf-b11f-521f43dd42f6" Alias="EHC - Gallery layout" Level="2">
  <Info>
    <Name>EHC - Gallery layout</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "grid",
    "masonry"
  ],
  "multiple": false
}]]></Config>
</DataType>