<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acf3af97-32c2-4d01-b0c6-8a5b95be25ed" Alias="EHC - Gradient editor" Level="2">
  <Info>
    <Name>EHC - Gradient editor</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>Ehc.PropertyEditorUi.Gradient</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>