<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6aadd756-0c4c-443a-903d-c763a2f8eb33" Alias="EHC - Hero image" Level="2">
  <Info>
    <Name>EHC - Hero image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "alias": "desktop",
      "width": 1920,
      "height": 1080
    },
    {
      "alias": "mobile",
      "width": 900,
      "height": 1200
    }
  ],
  "enableLocalFocalPoint": true,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "multiple": false,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>