<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eae68b9c-db58-4848-b325-b107b27da4a4" Alias="EHC - Hero panel" Level="2">
  <Info>
    <Name>EHC - Hero panel</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4c9353fd-b719-4ab6-9513-86af8388d3cb",
      "label": "Logo art"
    },
    {
      "contentElementTypeKey": "28a551cf-21ea-4e58-8151-1018b86367b3",
      "label": "Floating cards"
    },
    {
      "contentElementTypeKey": "d416f4f0-cee5-4bcf-9ae8-ff1702102a07",
      "label": "Care navigator"
    },
    {
      "contentElementTypeKey": "1cce508d-b3dc-4766-939b-1051e405328f",
      "label": "Search box"
    },
    {
      "contentElementTypeKey": "5d7cbbf3-7a83-4cfe-a974-40740c52c3e4",
      "label": "Facility card"
    },
    {
      "contentElementTypeKey": "40006b4c-7797-46f5-8d5e-6848d7a874b6",
      "label": "ER wait times"
    },
    {
      "contentElementTypeKey": "26de1ba2-7081-429a-82ab-ee630ad19077",
      "label": "Quick actions"
    },
    {
      "contentElementTypeKey": "3a7d4d25-0337-4f54-8807-c79151586599",
      "label": "Doctor card"
    },
    {
      "contentElementTypeKey": "3b73d44e-3f53-4a1d-b0e8-279f38cfffc4",
      "label": "Campaign card"
    },
    {
      "contentElementTypeKey": "73adc977-9c0f-42a0-acfd-e42a6ecbf591",
      "label": "Notice: {=title | fallback:⚠ no text in this language}"
    },
    {
      "contentElementTypeKey": "f59bb18d-456b-4579-9946-1c38b8c0b587",
      "label": "App promo"
    },
    {
      "contentElementTypeKey": "8bdb653d-cd4e-4a31-929b-063268da9f2b",
      "label": "Emergency numbers"
    },
    {
      "contentElementTypeKey": "0015223d-2c94-4822-9ddb-0035c4e831cb",
      "label": "Countdown: {=title | fallback:⚠ no text in this language}"
    },
    {
      "contentElementTypeKey": "f0d2d450-c41b-4285-b798-f13a4e2b719c",
      "label": "Image / video"
    },
    {
      "contentElementTypeKey": "63bc6180-660c-4cc6-8d33-2bba5acd7ba1",
      "label": "Stats"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": 3
  }
}]]></Config>
</DataType>