<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d85c68a-bb41-4eab-b637-7fbcb4768ca3" Alias="EHC - Hotspots" Level="2">
  <Info>
    <Name>EHC - Hotspots</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "29c98a43-7fc1-4b09-9d62-69624269eb31",
      "label": "{=title}"
    }
  ],
  "validationLimit": {
    "max": 20
  }
}]]></Config>
</DataType>