<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7dd7917f-98f6-401c-be1e-df26ba0f1a15" Alias="EHC - Hero slides" Level="2">
  <Info>
    <Name>EHC - Hero slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9fb44c2d-591d-482e-9541-bc30f044abde",
      "label": "{=title}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>