<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ee58aa8-159a-4d5d-aec2-6891accc649f" Alias="EHC - Hero slide mark" Level="2">
  <Info>
    <Name>EHC - Hero slide mark</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "show",
    "hide"
  ],
  "multiple": false
}]]></Config>
</DataType>