<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acb9b60c-f44b-4eea-9584-5e4242cb10a6" Alias="EHC - Hero background" Level="2">
  <Info>
    <Name>EHC - Hero background</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "0",
    "1",
    "2"
  ],
  "multiple": false
}]]></Config>
</DataType>