<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc0d0dff-3f03-4367-abe1-ce4b1500104c" Alias="EHC - Header style" Level="2">
  <Info>
    <Name>EHC - Header style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "band",
    "image"
  ],
  "multiple": false
}]]></Config>
</DataType>