<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09e2f430-8f74-4a45-abef-1d4f68a42e3a" Alias="EHC - Image" Level="2">
  <Info>
    <Name>EHC - Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "multiple": false,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>