<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7ea1a5f-d9ef-4759-b389-c38a1952118d" Alias="EHC - Image cards" Level="2">
  <Info>
    <Name>EHC - Image cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d140795d-d437-42a5-95f1-3cf3c5022560",
      "label": "{=title}"
    }
  ],
  "validationLimit": {}
}]]></Config>
</DataType>