<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6904ea06-6e24-4b7f-b8cf-1658e49f91c2" Alias="EHC - Image frame" Level="2">
  <Info>
    <Name>EHC - Image frame</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "rounded",
    "framed"
  ],
  "multiple": false
}]]></Config>
</DataType>