<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4763fcbc-6748-4a31-a936-ee29a90ce430" Alias="EHC - Image card style" Level="2">
  <Info>
    <Name>EHC - Image card style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "stacked",
    "overlay"
  ],
  "multiple": false
}]]></Config>
</DataType>