<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d06a691f-950c-4006-91df-9989b65b3f49" Alias="EHC - Image or SVG" Level="2">
  <Info>
    <Name>EHC - Image or SVG</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "multiple": false,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>