<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b6b82a6-c4bc-4157-9b97-848efb14fd51" Alias="EHC - Look density" Level="2">
  <Info>
    <Name>EHC - Look density</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Normal",
    "Compact",
    "Airy"
  ],
  "multiple": false
}]]></Config>
</DataType>