<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc4d6fe3-0667-40b8-b0a1-9dd927c5d337" Alias="EHC - Link cards" Level="2">
  <Info>
    <Name>EHC - Link cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "359cf16f-0f01-4bed-9bc0-1111800cb40e",
      "label": "{=title | fallback:⚠ no text in this language}"
    }
  ],
  "validationLimit": {}
}]]></Config>
</DataType>