<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2051d59e-2c8b-476b-bc46-6c027cc1c368" Alias="EHC - Look shadows" Level="2">
  <Info>
    <Name>EHC - Look shadows</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Soft",
    "Flat",
    "Deep"
  ],
  "multiple": false
}]]></Config>
</DataType>