<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90620eea-29cd-4190-aadc-f65a281125db" Alias="EHC - Languages spoken" Level="2">
  <Info>
    <Name>EHC - Languages spoken</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CheckBoxList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "ar",
    "en",
    "ur",
    "hi",
    "tl",
    "bn",
    "fr"
  ]
}]]></Config>
</DataType>