<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d391f95-7511-4dd5-9687-6f93119bdf90" Alias="EHC - Link" Level="2">
  <Info>
    <Name>EHC - Link</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>