<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23ee09b3-f4ad-4a9b-a346-b3c936f559de" Alias="EHC - Links layout" Level="2">
  <Info>
    <Name>EHC - Links layout</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "grid",
    "list"
  ],
  "multiple": false
}]]></Config>
</DataType>