<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6976afd-51dc-4e41-98b4-fdac66b01745" Alias="EHC - Logo layout" Level="2">
  <Info>
    <Name>EHC - Logo layout</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "grid",
    "scroll"
  ],
  "multiple": false
}]]></Config>
</DataType>