<?xml version="1.0" encoding="utf-8"?>
<DataType Key="432236e7-7d8b-473c-8a33-664d0b46181f" Alias="EHC - List items" Level="2">
  <Info>
    <Name>EHC - List items</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 30,
  "min": 0
}]]></Config>
</DataType>