<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38347cff-0c06-483b-93e9-8a9bd753e348" Alias="EHC - List or grid" Level="2">
  <Info>
    <Name>EHC - List or grid</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "list",
    "grid"
  ],
  "multiple": false
}]]></Config>
</DataType>