<?xml version="1.0" encoding="utf-8"?>
<DataType Key="836bff61-e696-4388-8aa4-a9143940a838" Alias="EHC - Library section kind" Level="2">
  <Info>
    <Name>EHC - Library section kind</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "conditions",
    "tests",
    "living"
  ],
  "multiple": false
}]]></Config>
</DataType>