<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cecd4734-828c-459c-bdae-c948ac100747" Alias="EHC - Max items" Level="2">
  <Info>
    <Name>EHC - Max items</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 50,
  "min": 0,
  "step": 1
}]]></Config>
</DataType>