<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd56d05d-8a59-4404-8e54-9bf12b54ec49" Alias="EHC - Mega menu" Level="2">
  <Info>
    <Name>EHC - Mega menu</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6888006b-89f9-42f6-999a-1907c328b088",
      "label": "{=label}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>