<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0500342-6bc8-4d6d-b935-204bbe0221fd" Alias="EHC - Meta description" Level="2">
  <Info>
    <Name>EHC - Meta description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "maxChars": 160
}]]></Config>
</DataType>