<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9912b47c-bf3b-4653-9e11-53704bd94bef" Alias="EHC - Menu feature" Level="2">
  <Info>
    <Name>EHC - Menu feature</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "074a0b85-2a82-48b8-9dae-a8c738a20256",
      "label": "Campaign"
    },
    {
      "contentElementTypeKey": "965502a3-9af2-4f02-b633-f8cf96b2511f",
      "label": "App: {=title}"
    },
    {
      "contentElementTypeKey": "69635726-eace-4bac-9a3f-a7ac8d7846af",
      "label": "Map: {=title}"
    },
    {
      "contentElementTypeKey": "0cb19d90-9dec-4837-a2d3-443639c127af",
      "label": "Stats: {=title}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>