<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e048cd19-9e19-4073-8567-adf07040619b" Alias="EHC - Menu columns" Level="2">
  <Info>
    <Name>EHC - Menu columns</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "abac631c-eccf-453c-a498-4cb42152e428",
      "label": "{=heading | fallback:⚠ no text in this language}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>