<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15e5f4ad-8712-4364-a507-3935720d5812" Alias="EHC - Navigator symptoms" Level="2">
  <Info>
    <Name>EHC - Navigator symptoms</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1f65b3c9-31fb-43ff-81c3-4519e320bd09",
      "label": "{=label | fallback:⚠ no text in this language} → {=level}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>