<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7bb0de4e-e770-4632-811f-7d99d2613f54" Alias="EHC - Navigator who" Level="2">
  <Info>
    <Name>EHC - Navigator who</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bf3ae95d-09ae-4093-9b83-c65ac4ba204d",
      "label": "{=label | fallback:⚠ no text in this language}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>