<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85a438e1-bfc2-41cf-9601-da5817d30900" Alias="EHC - Navigator needs" Level="2">
  <Info>
    <Name>EHC - Navigator needs</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a14884c4-ffc2-49e8-aa74-f653505e8750",
      "label": "{=label | fallback:⚠ no text in this language}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>