<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68eacf63-5f53-48e9-8e7c-e3e37877103b" Alias="EHC - Opening hours" Level="2">
  <Info>
    <Name>EHC - Opening hours</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a72ab37a-7e7b-443f-8ffd-8a4ff80d2f87",
      "label": "{=days}: {=hours}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>