<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5f86d86-a134-493c-b39d-3696d0c6f15a" Alias="EHC - Pick site settings" Level="2">
  <Info>
    <Name>EHC - Pick site settings</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "e1806ace-162e-4bd4-bfce-d367703f32ae",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>