<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9fc8e3d-6378-42ba-b28a-4d45ac2f5f3d" Alias="EHC - Pick campaign" Level="2">
  <Info>
    <Name>EHC - Pick campaign</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "08cbbe7e-5147-4735-843b-901aa62a9da4",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>