<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a93a6c1c-ba1e-491e-9cb5-fa9f9d156cc0" Alias="EHC - Progress style" Level="2">
  <Info>
    <Name>EHC - Progress style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "bars",
    "rings"
  ],
  "multiple": false
}]]></Config>
</DataType>