<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0279e256-27a1-4b35-9d84-ae826a58a1cf" Alias="EHC - Page blocks" Level="2">
  <Info>
    <Name>EHC - Page blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "00e49195-98bf-4193-8619-09d92492db6e",
      "label": "Hero (campaigns)",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "0a490f11-9aed-4c45-a296-a0c2cbde6677",
      "label": "Hero (image): {=title}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "7d9e73fa-c102-4200-82dc-6d0d9e2e341f",
      "label": "Hero (video): {=title}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "540389f4-68a4-4026-8ae0-fae564d936e8",
      "label": "Hero (split): {=title}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "ad120495-4fab-424f-8439-58611ed46b8a",
      "label": "Hero (search): {=title}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "d416f4f0-cee5-4bcf-9ae8-ff1702102a07",
      "label": "Care navigator",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "093447c6-8455-4961-bbb5-1d33f2311fad",
      "label": "Quick actions",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "6a024a20-3e33-40a4-a273-b5ab77eb3b71",
      "label": "ER wait times: {=heading}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "02a1c2bc-b00a-454b-872e-4b8c41f710de",
      "label": "Facility finder: {=heading}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "9e19c9b9-913e-4ec1-a06c-a64bd0bf632e",
      "label": "Journeys",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "bc7901b1-dde1-4a28-91bc-0693aec30c69",
      "label": "Health tools",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "164efa20-9334-464a-bd07-fb1a84bdc42e",
      "label": "Statement: {=eyebrow}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "68e657d0-bb76-451b-bcad-fa883d8ea59a",
      "label": "Excellence: {=heading}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "4c866ca3-1898-4534-b496-ae2c1924bf3f",
      "label": "Stories: {=videoTitle}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "cb9b4685-a265-419e-ab1e-632c0f240bb5",
      "label": "App promo: {=heading}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "28cdec5e-a732-4493-8bb4-e880328ba07a",
      "label": "Accreditations",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "e584b415-7a43-4c8a-a7b5-6e347bf81042",
      "label": "Campaigns: {=heading}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "2f3da8e5-6b41-434f-81bf-375cef08ac3a",
      "label": "Doctors: {=heading}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "91b916af-6720-4467-8542-e2470578c847",
      "label": "News: {=heading}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "7028b358-2197-439a-b583-1be0a60842e3",
      "label": "Specialty ticker",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "8ef7746f-dba6-4ce6-b00f-b1f349c60e6c",
      "label": "Careers",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "1a42d957-7e10-4666-91fa-0d0b08dbe775",
      "label": "CTA: {=title}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "d4b7fe46-2819-4653-9d4b-60b67a4ef827",
      "label": "Rich text",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    },
    {
      "contentElementTypeKey": "afdebabf-dc24-4f3e-8cf3-ed068c516570",
      "label": "Announcement: {=text}",
      "settingsElementTypeKey": "41e32f64-114d-4ddd-bb62-a0050c955eec"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>