<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5810d001-e2bc-4d9c-b626-7246d452a43c" Alias="EHC - Panel tone" Level="2">
  <Info>
    <Name>EHC - Panel tone</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "light",
    "soft",
    "deep",
    "brand"
  ],
  "multiple": false
}]]></Config>
</DataType>