<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac6cd501-4958-4d2b-a07b-b595fb8b80e1" Alias="EHC - Pick health tests" Level="2">
  <Info>
    <Name>EHC - Pick health tests</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "7b5f0501-9535-41be-8ab2-76801cb76a59",
  "maxNumber": 8,
  "minNumber": 0,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>