<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5867e99d-ea42-4c85-a70e-0f1f27380276" Alias="EHC - Pick doctors" Level="2">
  <Info>
    <Name>EHC - Pick doctors</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "285a0f02-22fd-4b76-bf4a-c49969e7df62",
  "maxNumber": 8,
  "minNumber": 0,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>