<?xml version="1.0" encoding="utf-8"?>
<DataType Key="794b0c55-b308-4bfb-943b-e75453b465ce" Alias="EHC - Pick e-services" Level="2">
  <Info>
    <Name>EHC - Pick e-services</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "22c97d11-8beb-4ce4-b858-cd93c1fc2509",
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>