<?xml version="1.0" encoding="utf-8"?>
<DataType Key="108545a2-344a-4646-928f-a454f9de3722" Alias="EHC - Quick actions" Level="2">
  <Info>
    <Name>EHC - Quick actions</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3d6968fc-a53d-4660-8ac5-60c479f8592c",
      "label": "{=label | fallback:⚠ no text in this language}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>