<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dec8263d-141a-4e5d-a785-b2d41ca6ce83" Alias="EHC - Rating" Level="2">
  <Info>
    <Name>EHC - Rating</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 5,
  "min": 0,
  "step": 1
}]]></Config>
</DataType>