<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21c32d3a-a930-47a2-9f9f-dfa81ddbebe5" Alias="EHC - Size" Level="2">
  <Info>
    <Name>EHC - Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "md",
    "sm",
    "lg"
  ],
  "multiple": false
}]]></Config>
</DataType>