<?xml version="1.0" encoding="utf-8"?>
<DataType Key="405a6a86-6022-4565-8ef2-4824a55a42c3" Alias="EHC - Section spacing" Level="2">
  <Info>
    <Name>EHC - Section spacing</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "none",
    "sm",
    "md",
    "lg"
  ],
  "multiple": false
}]]></Config>
</DataType>