<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edbb0718-a75e-40c5-aca4-9b58c3e3684d" Alias="EHC - Search tabs" Level="2">
  <Info>
    <Name>EHC - Search tabs</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CheckBoxList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "doctor",
    "specialty",
    "facility",
    "service"
  ]
}]]></Config>
</DataType>