<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97af4949-c45a-4a9e-a18f-b69c2853d4df" Alias="EHC - Step items" Level="2">
  <Info>
    <Name>EHC - Step items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cf7a2e92-d24f-4c50-bed0-3622e0ef7e0d",
      "label": "{=title}"
    }
  ],
  "validationLimit": {
    "max": 8
  }
}]]></Config>
</DataType>