<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7e692ea-d95e-4dab-92e9-a4d171f6de6a" Alias="EHC - Side cards" Level="2">
  <Info>
    <Name>EHC - Side cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ad48b476-4708-47fd-ae11-0b10cb7fdc69",
      "label": "App: {=title}"
    },
    {
      "contentElementTypeKey": "d72973de-965c-4132-816f-3213dcb2cc49",
      "label": "Stats: {=title}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": 2
  }
}]]></Config>
</DataType>