<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bdab27e7-1cfb-4f0e-b2a3-0ae188db5615" Alias="EHC - Strip tone" Level="2">
  <Info>
    <Name>EHC - Strip tone</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "deep",
    "brand",
    "soft"
  ],
  "multiple": false
}]]></Config>
</DataType>