<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4cfa528-d4d9-4c74-a648-18d2815b52dd" Alias="EHC - Story quotes" Level="2">
  <Info>
    <Name>EHC - Story quotes</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e3f4aa85-9567-4164-acf3-eb6aa004d9ba",
      "label": "{=attribution}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>