<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03f08cfb-0707-41cf-a87d-fc977e21aaf0" Alias="EHC - Steps layout" Level="2">
  <Info>
    <Name>EHC - Steps layout</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "horizontal",
    "vertical"
  ],
  "multiple": false
}]]></Config>
</DataType>