<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0166819-64b4-4655-9df0-c8a25a18e280" Alias="EHC - Theme schedule" Level="2">
  <Info>
    <Name>EHC - Theme schedule</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "338ecc74-ed01-46c1-97b4-466dae31a29e",
      "label": "{=note}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>