<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0d5f465-5502-4506-9e42-e44637eab204" Alias="EHC - Tags" Level="2">
  <Info>
    <Name>EHC - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tags</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "group": "default",
  "storageType": "Json"
}]]></Config>
</DataType>