<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e4d2a61-3c7b-4f58-a9e0-1b5c6d7f2a93" Alias="EHC - Theme motif" Level="2">
  <Info>
    <Name>EHC - Theme motif</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "EHC star",
    "Ramadan",
    "Eid al-Fitr",
    "Eid al-Adha",
    "Hajj",
    "None"
  ],
  "multiple": false
}]]></Config>
</DataType>