<?xml version="1.0" encoding="utf-8"?>
<DataType Key="546a9b29-b69a-45ee-b33c-574d888ef0cd" Alias="EHC - Tab items" Level="2">
  <Info>
    <Name>EHC - Tab items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc577033-0a15-4cb3-956f-07fbfa2870f6",
      "label": "{=label | fallback:⚠ no text in this language}"
    }
  ],
  "validationLimit": {
    "max": 8
  }
}]]></Config>
</DataType>