<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2fab513e-8337-46ee-88fa-71fe7bda3013" Alias="EHC - Team members" Level="2">
  <Info>
    <Name>EHC - Team members</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "40bb9a66-fa2f-496f-9f8a-a295f1784c7e",
      "label": "{=title}"
    }
  ],
  "validationLimit": {}
}]]></Config>
</DataType>