<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c779a1fc-1c93-46b7-9901-44b6a2219790" Alias="EHC - Timetable rows" Level="2">
  <Info>
    <Name>EHC - Timetable rows</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "afe5daa0-6148-448e-b26a-4d6fdb173b1c",
      "label": "{=title | fallback:⚠ no text in this language}"
    }
  ],
  "validationLimit": {}
}]]></Config>
</DataType>