<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60de7c13-df45-48cb-87ba-2f2b36769f6e" Alias="EHC - Video width" Level="2">
  <Info>
    <Name>EHC - Video width</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "wide",
    "narrow"
  ],
  "multiple": false
}]]></Config>
</DataType>