<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5db6ea4-0c7d-457a-bfd7-7ce9ffba5bb6" Alias="EHC - Vertical align" Level="2">
  <Info>
    <Name>EHC - Vertical align</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>EHC</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "start",
    "center"
  ],
  "multiple": false
}]]></Config>
</DataType>