<?xml version="1.0" encoding="utf-8"?>
<Content Key="48af6de6-80de-4219-855d-0c829398bf5d" Alias="Gradients" Level="2">
  <Info>
    <Parent Key="a59f766c-a348-4a55-aaf3-3cb5917502be">الإعدادات</Parent>
    <Path>//Gradients</Path>
    <Trashed>false</Trashed>
    <ContentType>gradientFolder</ContentType>
    <CreateDate>2026-10-02T09:34:44</CreateDate>
    <NodeName Default="Gradients" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>