<?xml version="1.0" encoding="utf-8"?>
<Content Key="584fe0cb-5845-427c-82cb-79a109b95f2e" Alias="Rose" Level="3">
  <Info>
    <Parent Key="48af6de6-80de-4219-855d-0c829398bf5d">Gradients</Parent>
    <Path>//Gradients/Rose</Path>
    <Trashed>false</Trashed>
    <ContentType>gradient</ContentType>
    <CreateDate>2026-10-02T09:34:45</CreateDate>
    <NodeName Default="Rose" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <design>
      <Value><![CDATA[{
  "angle": 135,
  "stops": [
    {
      "at": 0,
      "colour": "#3A1030"
    },
    {
      "at": 45,
      "colour": "Highlight 800"
    },
    {
      "at": 100,
      "colour": "Highlight 500"
    }
  ],
  "glow": {
    "colour": "#F08AA6",
    "x": 80,
    "y": 20,
    "strength": 100
  }
}]]></Value>
    </design>
    <direction>
      <Value><![CDATA[[
  "Diagonal"
]]]></Value>
    </direction>
    <fromColour>
      <Value><![CDATA[[
  "Highlight 800"
]]]></Value>
    </fromColour>
    <fromCustom>
      <Value><![CDATA[#3A1030]]></Value>
    </fromCustom>
    <glowColour>
      <Value><![CDATA[[
  "Highlight 500"
]]]></Value>
    </glowColour>
    <glowCustom>
      <Value><![CDATA[#F08AA6]]></Value>
    </glowCustom>
    <toColour>
      <Value><![CDATA[[
  "Highlight 500"
]]]></Value>
    </toColour>
    <toCustom>
      <Value><![CDATA[]]></Value>
    </toCustom>
    <viaColour>
      <Value><![CDATA[[
  "Highlight 800"
]]]></Value>
    </viaColour>
    <viaCustom>
      <Value><![CDATA[]]></Value>
    </viaCustom>
  </Properties>
</Content>