<?xml version="1.0" encoding="utf-8"?>
<Content Key="f64cfed5-896c-4a37-ac34-be33e961d248" Alias="ابحث عن طبيب" Level="2">
  <Info>
    <Parent Key="d5dd477f-64e6-4bf2-9fee-1389919fa38e">الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>doctorFolder</ContentType>
    <CreateDate>2026-09-26T09:21:26</CreateDate>
    <NodeName Default="ابحث عن طبيب">
      <Name Culture="ar-SA">ابحث عن طبيب</Name>
      <Name Culture="en-US">Find a Doctor</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="d8c0ecc2-ead5-4946-ab2a-e81e391d4e32">doctorFolder</Template>
  </Info>
  <Properties />
</Content>