<?xml version="1.0" encoding="utf-8"?>
<Content Key="58464b8f-fa8f-483f-9ef1-58bf9b707d34" Alias="اختبار حدة الإبصار" Level="3">
  <Info>
    <Parent Key="c1e75925-2c09-4549-b72a-1ebd11dac48a">الأدوات الصحية</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>healthTool</ContentType>
    <CreateDate>2026-09-28T15:55:55</CreateDate>
    <NodeName Default="اختبار حدة الإبصار">
      <Name Culture="ar-SA">اختبار حدة الإبصار</Name>
      <Name Culture="en-US">Visual acuity test</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="bdd6f063-0319-48e2-a152-4c3333535046">healthTool</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerImage>
      <Value><![CDATA[]]></Value>
    </headerImage>
    <headerStyle>
      <Value><![CDATA[]]></Value>
    </headerStyle>
    <hideFeedback>
      <Value><![CDATA[]]></Value>
    </hideFeedback>
    <intro>
      <Value Culture="ar-SA"><![CDATA[فحص سريع لحدة النظر لكل عين على حدة.]]></Value>
      <Value Culture="en-US"><![CDATA[A quick check of how sharp your sight is in each eye.]]></Value>
    </intro>
    <metaDescription>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <summary>
      <Value Culture="ar-SA"><![CDATA[فحص سريع لحدة النظر لكل عين على حدة.]]></Value>
      <Value Culture="en-US"><![CDATA[A quick check of how sharp your sight is in each eye.]]></Value>
    </summary>
    <tool>
      <Value><![CDATA[[
  "visualAcuity"
]]]></Value>
    </tool>
  </Properties>
</Content>