<?xml version="1.0" encoding="utf-8"?>
<Content Key="33226d6d-ec61-4115-bca1-dffae8dc51ca" Alias="اسم الطبيب (7)" Level="3">
  <Info>
    <Parent Key="f64cfed5-896c-4a37-ac34-be33e961d248">ابحث عن طبيب</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>doctor</ContentType>
    <CreateDate>2026-09-26T13:11:05</CreateDate>
    <NodeName Default="اسم الطبيب (7)">
      <Name Culture="ar-SA">اسم الطبيب (7)</Name>
      <Name Culture="en-US">Doctor Name (7)</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2389a4da-3fd4-4fad-97f3-258469082248">doctor</Template>
  </Info>
  <Properties>
    <bio>
      <Value Culture="ar-SA"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003E\u0646\u0628\u0630\u0629 \u062A\u0648\u0636\u064A\u062D\u064A\u0629. \u062A\u064F\u0646\u0634\u0631 \u0628\u064A\u0627\u0646\u0627\u062A \u0627\u0644\u0623\u0637\u0628\u0627\u0621 \u0627\u0644\u062D\u0642\u064A\u0642\u064A\u0629 \u0628\u0639\u062F \u0627\u0639\u062A\u0645\u0627\u062F\u0647\u0627 \u0648\u0645\u0648\u0627\u0641\u0642\u062A\u0647\u0645.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EPlaceholder biography. Real doctor profiles are published only after approval and consent.\u003C/p\u003E"
}]]></Value>
    </bio>
    <bookingUrl>
      <Value><![CDATA[[
  {
    "name": "",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "#",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </bookingUrl>
    <facilities>
      <Value><![CDATA[umb://document/bc5c0295d7cf44cf8d80fff69b9fed29]]></Value>
    </facilities>
    <fullName>
      <Value Culture="ar-SA"><![CDATA[د. اسم الطبيب (7)]]></Value>
      <Value Culture="en-US"><![CDATA[Dr. Doctor Name (7)]]></Value>
    </fullName>
    <languages>
      <Value><![CDATA[[
  "ar"
]]]></Value>
    </languages>
    <metaDescription>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <photo>
      <Value><![CDATA[]]></Value>
    </photo>
    <specialty>
      <Value><![CDATA[umb://document/a2c2f887b63b4d42b61a1a9ac588395f]]></Value>
    </specialty>
    <title>
      <Value Culture="ar-SA"><![CDATA[استشاري]]></Value>
      <Value Culture="en-US"><![CDATA[Consultant]]></Value>
    </title>
  </Properties>
</Content>