<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a285e0e-efe7-45a4-805e-7ab91252a02c" Alias="الأسبوع الخليجي للسكري" Level="3">
  <Info>
    <Parent Key="e841c2ef-392b-4987-be07-5be19da4e4d5">الحملات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>campaign</ContentType>
    <CreateDate>2026-09-26T13:11:06</CreateDate>
    <NodeName Default="الأسبوع الخليجي للسكري">
      <Name Culture="ar-SA">الأسبوع الخليجي للسكري</Name>
      <Name Culture="en-US">Gulf Diabetes Week</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="ac63cd48-c3d9-457b-9103-0a64b786c25a">campaign</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d4b7fe46-2819-4653-9d4b-60b67a4ef827",
      "key": "1ae1a068-bb77-41ea-a964-456e0bf0be8c",
      "values": [
        {
          "alias": "body",
          "culture": "ar-SA",
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "<h2>مقدمة</h2><p>نظرًا لارتفاع معدل انتشار مرض السكري في دول الخليج؛ حيث تُعَد دول الخليج من أكثر الدول تضررًا في العالم؛ وافق مجلس الصحة الخليجي على رفع مستوى الوعي بمرض السكري.</p><h2>الأهداف</h2><ul><li>زيادة الوعي بأثر مرض السكري في المجتمعات الخليجية.</li><li>تشجيع التشخيص المبكر، وزيادة الوعي بطرق الوقاية من مرض السكري، من خلال اتباع نظام غذائي صحي، وتمارين الجسم.</li><li>تعزيز دور الأسرة في التثقيف الصحي في العلاج، ودعم المتضررين.</li></ul>"
          }
        },
        {
          "alias": "body",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "<h2>Overview</h2><p>Based on the high prevalence of diabetes in the Gulf countries, where the Gulf countries are among the most affected countries in the world, the Gulf Health Council agreed to raise awareness of diabetes.</p><h2>Objectives</h2><ul><li>Raise awareness of the impact of diabetes in Gulf societies.</li><li>Encourage early diagnosis, and increase awareness of ways to prevent diabetes, through following a healthy diet, and body exercises.</li><li>Strengthen the role of the family’s health education in treatment and support of diabetic patients.</li></ul>"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1ae1a068-bb77-41ea-a964-456e0bf0be8c",
      "culture": "ar-SA",
      "segment": null
    },
    {
      "contentKey": "1ae1a068-bb77-41ea-a964-456e0bf0be8c",
      "culture": "en-US",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1ae1a068-bb77-41ea-a964-456e0bf0be8c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <color>
      <Value><![CDATA[[
  "brand"
]]]></Value>
    </color>
    <ctaLink>
      <Value Culture="ar-SA"><![CDATA[[
  {
    "name": "اختبر خطر الإصابة بمقدمات السكري",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/da705212b41e4b57af983c9d9d48ee66",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": "Check your prediabetes risk",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/da705212b41e4b57af983c9d9d48ee66",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </ctaLink>
    <endDate>
      <Value><![CDATA[{
  "date": "2025-11-14T00:00:00+00:00",
  "timeZone": null
}]]></Value>
    </endDate>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "57174ceb-1bfb-4337-994b-3b69ea93b563",
    "mediaKey": "b6f0a77c-c3a2-46fd-9542-a7890aae4a02",
    "mediaTypeAlias": "",
    "crops": null,
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <headerStyle>
      <Value><![CDATA[[
  "image"
]]]></Value>
    </headerStyle>
    <icon>
      <Value><![CDATA[[
  "target"
]]]></Value>
    </icon>
    <intro>
      <Value Culture="ar-SA"><![CDATA[نظرًا لارتفاع معدل انتشار مرض السكري في دول الخليج؛ حيث تُعَد دول الخليج من أكثر الدول تضررًا في العالم؛ وافق مجلس الصحة الخليجي على رفع مستوى الوعي بمرض السكري.]]></Value>
      <Value Culture="en-US"><![CDATA[Based on the high prevalence of diabetes in the Gulf countries, where the Gulf countries are among the most affected countries in the world, the Gulf Health Council agreed to raise awareness of diabetes.]]></Value>
    </intro>
    <metaDescription>
      <Value Culture="ar-SA"><![CDATA[نظرًا لارتفاع معدل انتشار مرض السكري في دول الخليج؛ حيث تُعَد دول الخليج من أكثر الدول تضررًا في العالم؛ وافق مجلس الصحة الخليجي على رفع مستوى الوعي بمرض…]]></Value>
      <Value Culture="en-US"><![CDATA[Based on the high prevalence of diabetes in the Gulf countries, where the Gulf countries are among the most affected countries in the world, the Gulf Health…]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[[
  {
    "key": "193d29d3-88c2-48c2-8a1f-e677b1566edb",
    "mediaKey": "b6f0a77c-c3a2-46fd-9542-a7890aae4a02",
    "mediaTypeAlias": "",
    "crops": null,
    "focalPoint": null
  }
]]]></Value>
    </ogImage>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <startDate>
      <Value><![CDATA[{
  "date": "2025-11-08T00:00:00+00:00",
  "timeZone": null
}]]></Value>
    </startDate>
    <tag>
      <Value Culture="ar-SA"><![CDATA[أسبوع توعوي]]></Value>
      <Value Culture="en-US"><![CDATA[Awareness week]]></Value>
    </tag>
  </Properties>
</Content>