<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5f542e6-7a8d-43fa-b927-6877fac9cd64" Alias="التخصصات" Level="3">
  <Info>
    <Parent Key="86da5aa6-d3fb-4b5e-8fa6-31f1af3bcc63">الرعاية والخدمات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>specialtyFolder</ContentType>
    <CreateDate>2026-09-26T09:21:26</CreateDate>
    <NodeName Default="التخصصات">
      <Name Culture="ar-SA">التخصصات</Name>
      <Name Culture="en-US">Specialties</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="f694a6e6-59c0-466d-a1ae-79ba71c799eb">specialtyFolder</Template>
  </Info>
  <Properties />
</Content>