<?xml version="1.0" encoding="utf-8"?>
<Content Key="6dbcc9f3-97f8-4191-8064-ec0a80ec8551" Alias="الخدمات الإلكترونية" Level="2">
  <Info>
    <Parent Key="d5dd477f-64e6-4bf2-9fee-1389919fa38e">الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>eServicesFolder</ContentType>
    <CreateDate>2026-10-02T19:19:08</CreateDate>
    <NodeName Default="الخدمات الإلكترونية">
      <Name Culture="ar-SA">الخدمات الإلكترونية</Name>
      <Name Culture="en-US">E-services</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="f8bb2330-c9c0-48bb-9f67-d28143e82277">eServicesFolder</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerImage>
      <Value><![CDATA[]]></Value>
    </headerImage>
    <headerStyle>
      <Value><![CDATA[]]></Value>
    </headerStyle>
    <hideFeedback>
      <Value><![CDATA[0]]></Value>
    </hideFeedback>
    <intro>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </intro>
    <metaDescription>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>