<?xml version="1.0" encoding="utf-8"?>
<Content Key="0487c9d2-edb5-4bc3-8ce3-600428d1f6fc" Alias="المواعيد والزيارات" Level="3">
  <Info>
    <Parent Key="6dbcc9f3-97f8-4191-8064-ec0a80ec8551">الخدمات الإلكترونية</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>eService</ContentType>
    <CreateDate>2026-10-02T19:19:09</CreateDate>
    <NodeName Default="المواعيد والزيارات">
      <Name Culture="ar-SA">المواعيد والزيارات</Name>
      <Name Culture="en-US">Appointments and visits</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="8e8eeecf-a325-4062-a28a-69c46f01dc9e">eService</Template>
  </Info>
  <Properties>
    <audiences>
      <Value><![CDATA[[
  "Patients"
]]]></Value>
    </audiences>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerImage>
      <Value><![CDATA[]]></Value>
    </headerImage>
    <headerStyle>
      <Value><![CDATA[]]></Value>
    </headerStyle>
    <hideFeedback>
      <Value><![CDATA[]]></Value>
    </hideFeedback>
    <icon>
      <Value><![CDATA[[
  "cal"
]]]></Value>
    </icon>
    <intro>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </intro>
    <metaDescription>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <provider>
      <Value Culture="ar-SA"><![CDATA[صحتي (وزارة الصحة)]]></Value>
      <Value Culture="en-US"><![CDATA[Sehhaty (Ministry of Health)]]></Value>
    </provider>
    <requiresSignIn>
      <Value><![CDATA[1]]></Value>
    </requiresSignIn>
    <startLink>
      <Value Culture="ar-SA"><![CDATA[[
  {
    "name": "\u0635\u062D\u062A\u064A (\u0648\u0632\u0627\u0631\u0629 \u0627\u0644\u0635\u062D\u0629)",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://www.moh.gov.sa/eservices/sehhaty/pages/default.aspx",
    "queryString": null,
    "culture": null
  }
]]]></Value>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": "Sehhaty (Ministry of Health)",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://www.moh.gov.sa/en/eservices/sehhaty/pages/default.aspx",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </startLink>
    <summary>
      <Value Culture="ar-SA"><![CDATA[اطّلع على مواعيدك وزياراتك.]]></Value>
      <Value Culture="en-US"><![CDATA[View your appointments and visits.]]></Value>
    </summary>
  </Properties>
</Content>