<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2f801de-d143-4f2c-99c2-27cc8d847a82" Alias="جراحة العظام" Level="4">
  <Info>
    <Parent Key="d5f542e6-7a8d-43fa-b927-6877fac9cd64">التخصصات</Parent>
    <Path>////</Path>
    <Trashed>false</Trashed>
    <ContentType>specialty</ContentType>
    <CreateDate>2026-09-26T13:11:04</CreateDate>
    <NodeName Default="جراحة العظام">
      <Name Culture="ar-SA">جراحة العظام</Name>
      <Name Culture="en-US">Orthopedics</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="b19c1806-b94e-460f-8350-21632f79805a">specialty</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="ar-SA"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003E\u0646\u0635 \u062A\u0648\u0636\u064A\u062D\u064A \u0645\u0624\u0642\u062A \u064A\u064F\u0633\u062A\u0628\u062F\u0644 \u0628\u0627\u0644\u0645\u062D\u062A\u0648\u0649 \u0627\u0644\u0645\u0639\u062A\u0645\u062F.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EPlaceholder text, to be replaced with approved content.\u003C/p\u003E"
}]]></Value>
    </body>
    <facilities>
      <Value><![CDATA[umb://document/1029a4ea483e41c3bbf9b84b35509829,umb://document/bac49276fb7844cd810f082137abe5bb]]></Value>
    </facilities>
    <headerImage>
      <Value><![CDATA[]]></Value>
    </headerImage>
    <headerStyle>
      <Value><![CDATA[]]></Value>
    </headerStyle>
    <icon>
      <Value><![CDATA[[
  "bone"
]]]></Value>
    </icon>
    <intro>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </intro>
    <metaDescription>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <summary>
      <Value Culture="ar-SA"><![CDATA[المفاصل والعمود الفقري]]></Value>
      <Value Culture="en-US"><![CDATA[Joints, spine, trauma]]></Value>
    </summary>
  </Properties>
</Content>