<?xml version="1.0" encoding="utf-8"?>
<Content Key="4603a59b-dc56-4463-b643-ef4cd7348b22" Alias="مجمع إرادة للصحة النفسية" Level="4">
  <Info>
    <Parent Key="c51cc835-cfb0-4833-aed3-6efb5350d4f4">المستشفيات التخصصية</Parent>
    <Path>////</Path>
    <Trashed>false</Trashed>
    <ContentType>facility</ContentType>
    <CreateDate>2026-09-28T15:56:18</CreateDate>
    <NodeName Default="مجمع إرادة للصحة النفسية">
      <Name Culture="ar-SA">مجمع إرادة للصحة النفسية</Name>
      <Name Culture="en-US">Eradah Mental Health Complex</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="5ac711e2-a51a-4517-b94d-a67a5e393049">facility</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </address>
    <city>
      <Value Culture="ar-SA"><![CDATA[الدمام]]></Value>
      <Value Culture="en-US"><![CDATA[Dammam]]></Value>
    </city>
    <erFeedId>
      <Value><![CDATA[]]></Value>
    </erFeedId>
    <facilityType>
      <Value><![CDATA[[
  "specialist"
]]]></Value>
    </facilityType>
    <hasEmergency>
      <Value><![CDATA[0]]></Value>
    </hasEmergency>
    <headerImage>
      <Value><![CDATA[]]></Value>
    </headerImage>
    <headerStyle>
      <Value><![CDATA[]]></Value>
    </headerStyle>
    <hideFeedback>
      <Value><![CDATA[]]></Value>
    </hideFeedback>
    <intro>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </intro>
    <latitude>
      <Value><![CDATA[26.397494]]></Value>
    </latitude>
    <longitude>
      <Value><![CDATA[50.066174]]></Value>
    </longitude>
    <metaDescription>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <openingHours>
      <Value><![CDATA[]]></Value>
    </openingHours>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <phone>
      <Value><![CDATA[]]></Value>
    </phone>
  </Properties>
</Content>