<?xml version="1.0" encoding="utf-8"?>
<Content Key="61b6e6da-ec4d-4096-96cc-205cc42e1e71" Alias="مستشفى النعيرية العام" Level="4">
  <Info>
    <Parent Key="4dbded8a-227d-4b8e-875e-58e20fe54279">الشبكة الطرفية الصحية</Parent>
    <Path>////</Path>
    <Trashed>false</Trashed>
    <ContentType>facility</ContentType>
    <CreateDate>2026-09-28T15:56:10</CreateDate>
    <NodeName Default="مستشفى النعيرية العام">
      <Name Culture="ar-SA">مستشفى النعيرية العام</Name>
      <Name Culture="en-US">Nairyah General Hospital</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="5ac711e2-a51a-4517-b94d-a67a5e393049">facility</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </address>
    <city>
      <Value Culture="ar-SA"><![CDATA[النعيرية]]></Value>
      <Value Culture="en-US"><![CDATA[Nairyah]]></Value>
    </city>
    <erFeedId>
      <Value><![CDATA[]]></Value>
    </erFeedId>
    <facilityType>
      <Value><![CDATA[[
  "hospital"
]]]></Value>
    </facilityType>
    <hasEmergency>
      <Value><![CDATA[0]]></Value>
    </hasEmergency>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "7a052f76-c850-4974-8ade-db101110cfb2",
    "mediaKey": "97103803-bc96-4f1e-bacd-5c460b49dccc",
    "mediaTypeAlias": "",
    "crops": null,
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <headerStyle>
      <Value><![CDATA[[
  "image"
]]]></Value>
    </headerStyle>
    <hideFeedback>
      <Value><![CDATA[]]></Value>
    </hideFeedback>
    <intro>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </intro>
    <latitude>
      <Value><![CDATA[27.472523]]></Value>
    </latitude>
    <longitude>
      <Value><![CDATA[48.463458]]></Value>
    </longitude>
    <metaDescription>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <openingHours>
      <Value><![CDATA[]]></Value>
    </openingHours>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <phone>
      <Value><![CDATA[]]></Value>
    </phone>
  </Properties>
</Content>