<?xml version="1.0" encoding="utf-8"?>
<Content Key="30b47ffe-7e1d-4846-8c4b-a9a127692139" Alias="مقال توضيحي: التعايش مع مرض مزمن" Level="3">
  <Info>
    <Parent Key="5ace4591-9d5c-4208-83cc-c855385383f6">المكتبة الصحية</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>healthArticle</ContentType>
    <CreateDate>2026-09-28T16:02:21</CreateDate>
    <NodeName Default="مقال توضيحي: التعايش مع مرض مزمن">
      <Name Culture="ar-SA">مقال توضيحي: التعايش مع مرض مزمن</Name>
      <Name Culture="en-US">Sample article: living with a long-term condition</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="afb7d2a7-a509-472a-bb72-566a18788b99">healthArticle</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <body>
      <Value Culture="ar-SA"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003E\u0646\u0635 \u062A\u0648\u0636\u064A\u062D\u064A. \u064A\u064F\u0643\u062A\u0628 \u0627\u0644\u0645\u062D\u062A\u0648\u0649 \u0627\u0644\u0635\u062D\u064A \u0648\u064A\u064F\u0631\u0627\u062C\u0639 \u0645\u0646 \u0627\u0644\u0641\u0631\u064A\u0642 \u0627\u0644\u0637\u0628\u064A \u0627\u0644\u0645\u062E\u062A\u0635 \u0642\u0628\u0644 \u0627\u0644\u0646\u0634\u0631.\u003C/p\u003E\u003Ch2\u003E\u0639\u0646\u0648\u0627\u0646 \u0641\u0631\u0639\u064A \u062A\u0648\u0636\u064A\u062D\u064A\u003C/h2\u003E\u003Cp\u003E\u0641\u0642\u0631\u0629 \u062A\u0648\u0636\u064A\u062D\u064A\u0629.\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u0646\u0642\u0637\u0629 \u062A\u0648\u0636\u064A\u062D\u064A\u0629\u003C/li\u003E\u003Cli\u003E\u0646\u0642\u0637\u0629 \u062A\u0648\u0636\u064A\u062D\u064A\u0629\u003C/li\u003E\u003C/ul\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EPlaceholder text. Health content is written and reviewed by the relevant clinical team before it is published.\u003C/p\u003E\u003Ch2\u003EPlaceholder subheading\u003C/h2\u003E\u003Cp\u003EPlaceholder paragraph.\u003C/p\u003E\u003Cul\u003E\u003Cli\u003EPlaceholder point\u003C/li\u003E\u003Cli\u003EPlaceholder point\u003C/li\u003E\u003C/ul\u003E"
}]]></Value>
    </body>
    <headerImage>
      <Value><![CDATA[]]></Value>
    </headerImage>
    <headerStyle>
      <Value><![CDATA[]]></Value>
    </headerStyle>
    <hideFeedback>
      <Value><![CDATA[]]></Value>
    </hideFeedback>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlt>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </imageAlt>
    <intro>
      <Value Culture="ar-SA"><![CDATA[ملخص توضيحي للمقال يظهر في البطاقات ونتائج البحث. يُستبدل بالنص المعتمد.]]></Value>
      <Value Culture="en-US"><![CDATA[Placeholder summary shown on cards and in search results, to be replaced with approved text.]]></Value>
    </intro>
    <metaDescription>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <relatedTools>
      <Value><![CDATA[umb://document/da705212b41e4b57af983c9d9d48ee66,umb://document/3099dd0b6a2742d6bde5e49b0b0f631e]]></Value>
    </relatedTools>
    <reviewedBy>
      <Value Culture="ar-SA"><![CDATA[الفريق الطبي (توضيحي)]]></Value>
      <Value Culture="en-US"><![CDATA[Clinical team (placeholder)]]></Value>
    </reviewedBy>
    <reviewedDate>
      <Value><![CDATA[]]></Value>
    </reviewedDate>
    <sources>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </sources>
    <topic>
      <Value><![CDATA[[
  "chronic"
]]]></Value>
    </topic>
  </Properties>
</Content>