<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d1c17aa-53cf-46d9-967e-df7f367a7e24" Alias="موارد" Level="3">
  <Info>
    <Parent Key="6dbcc9f3-97f8-4191-8064-ec0a80ec8551">الخدمات الإلكترونية</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>eService</ContentType>
    <CreateDate>2026-10-02T19:19:09</CreateDate>
    <NodeName Default="موارد">
      <Name Culture="ar-SA">موارد</Name>
      <Name Culture="en-US">Mawared</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="8e8eeecf-a325-4062-a28a-69c46f01dc9e">eService</Template>
  </Info>
  <Properties>
    <audiences>
      <Value><![CDATA[[
  "Staff"
]]]></Value>
    </audiences>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerImage>
      <Value><![CDATA[]]></Value>
    </headerImage>
    <headerStyle>
      <Value><![CDATA[]]></Value>
    </headerStyle>
    <hideFeedback>
      <Value><![CDATA[]]></Value>
    </hideFeedback>
    <icon>
      <Value><![CDATA[[
  "brief"
]]]></Value>
    </icon>
    <intro>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </intro>
    <metaDescription>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <provider>
      <Value Culture="ar-SA"><![CDATA[وزارة الصحة]]></Value>
      <Value Culture="en-US"><![CDATA[Ministry of Health]]></Value>
    </provider>
    <requiresSignIn>
      <Value><![CDATA[1]]></Value>
    </requiresSignIn>
    <startLink>
      <Value Culture="ar-SA"><![CDATA[[
  {
    "name": "\u0648\u0632\u0627\u0631\u0629 \u0627\u0644\u0635\u062D\u0629",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://erp.moh.gov.sa/",
    "queryString": null,
    "culture": null
  }
]]]></Value>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": "Ministry of Health",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://erp.moh.gov.sa/",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </startLink>
    <summary>
      <Value Culture="ar-SA"><![CDATA[الخدمة الذاتية للموظفين.]]></Value>
      <Value Culture="en-US"><![CDATA[Employee self-service.]]></Value>
    </summary>
  </Properties>
</Content>