<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d3050605-23bb-4374-b2ac-7e583f3a7e4e" Alias="campaignFolder" Level="2">
  <Info>
    <Name>Campaigns</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions />
    <DefaultTemplate>campaignFolder</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a867c7b8-5c45-4584-bead-e754074f2775">campaignFolder</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="08cbbe7e-5147-4735-843b-901aa62a9da4" SortOrder="0">campaign</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>