<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="08cbbe7e-5147-4735-843b-901aa62a9da4" Alias="campaign" Level="2">
  <Info>
    <Name>Campaign</Name>
    <Icon>icon-flag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions>
      <Composition Key="fba68520-43f3-4778-919b-68048d24aed8">blocksComposition</Composition>
      <Composition Key="2ff05280-28f9-444d-b943-81c12c58d9b2">pageHeaderComposition</Composition>
      <Composition Key="3f47f63a-8a9e-48ce-92eb-155620ba2a85">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>campaign</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ac63cd48-c3d9-457b-9103-0a64b786c25a">campaign</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>799b55af-1e54-4ab6-a90a-d5c65872fdfb</Key>
      <Name>Colour</Name>
      <Alias>color</Alias>
      <Definition>42dc551b-ee37-4722-955a-da3dd094bf89</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f49acc7-220d-4784-91a6-2bad90022c0b</Key>
      <Name>Button</Name>
      <Alias>ctaLink</Alias>
      <Definition>6d391f95-7511-4dd5-9687-6f93119bdf90</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link text is translated per language.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da5ae022-c987-4062-975d-5b690efce27d</Key>
      <Name>End date</Name>
      <Alias>endDate</Alias>
      <Definition>ec21206e-fdef-40a0-a41d-73e0e3959ef1</Definition>
      <Type>Umbraco.DateOnly</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d22a5fe-9bb3-4987-964e-4a029170a1aa</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>d6d477d1-f3ea-471d-95ec-0206dae21579</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e3a3fdbe-b8aa-48ba-8aaf-32c28c7054c9</Key>
      <Name>Start date</Name>
      <Alias>startDate</Alias>
      <Definition>ec21206e-fdef-40a0-a41d-73e0e3959ef1</Definition>
      <Type>Umbraco.DateOnly</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa5c91c6-cb19-4d11-add8-acea07d168f1</Key>
      <Name>Tag</Name>
      <Alias>tag</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>49c9848f-dc0c-4324-97d6-c66ebff2b21c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>