<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d416f4f0-cee5-4bcf-9ae8-ff1702102a07" Alias="careNavigatorBlock" Level="2">
  <Info>
    <Name>Care navigator</Name>
    <Icon>icon-navigation</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8e3097cd-dbf7-4d80-90eb-097a889af0c3</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1cbab6bd-d603-4391-bb6a-50f6aa5a8359</Key>
      <Name>Intro</Name>
      <Alias>intro</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00efac15-4e9a-4054-ade3-ec81573505ec</Key>
      <Name>Needs</Name>
      <Alias>needOptions</Alias>
      <Definition>85a438e1-bfc2-41cf-9601-da5817d30900</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cfd0bee5-791b-4c95-b037-537f126c2c1f</Key>
      <Name>Who is it for</Name>
      <Alias>whoOptions</Alias>
      <Definition>7bb0de4e-e770-4632-811f-7d99d2613f54</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>244decb2-4f95-4b2f-a2d9-68c9afccdf40</Key>
      <Name>Background gradient</Name>
      <Alias>gradient</Alias>
      <Definition>959bd85a-6712-4150-8f37-234133f9e480</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used when the navigator is its own section (not inside a hero). Pick one from Site settings › Gradients. Empty = the theme's default.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b799d92b-efc5-4d4d-9a74-87b652d3fb77</Key>
      <Name>Symptoms</Name>
      <Alias>symptoms</Alias>
      <Definition>15e5f4ad-8712-4364-a507-3935720d5812</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Adds "By symptom" to the needs: visitors search a symptom and get its care level. Empty = no symptom search. Starter list: needs clinical review.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="symptomGuide">Symptom guide</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12cd8963-1e6d-4503-beb3-de0ca672bd95</Key>
      <Name>Care levels</Name>
      <Alias>careLevels</Alias>
      <Definition>2e1f0f0a-fa5f-4008-8d54-6fd8b1eb8a77</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The advice shown for each care level (emergency, urgent, primary, virtual, self).]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="symptomGuide">Symptom guide</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>12c135a8-1ad0-4eb2-9641-681f5d9f1984</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b97726b8-506e-4c20-8671-fb3b8e5c6065</Key>
      <Caption>Symptom guide</Caption>
      <Alias>symptomGuide</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>