<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29911f29-6855-4c4d-ad1a-295a81e0bbd0" Alias="contentPage" Level="2">
  <Info>
    <Name>Content page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions>
      <Composition Key="2ff05280-28f9-444d-b943-81c12c58d9b2">pageHeaderComposition</Composition>
      <Composition Key="3f47f63a-8a9e-48ce-92eb-155620ba2a85">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="29911f29-6855-4c4d-ad1a-295a81e0bbd0" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>88876c25-49b5-4491-adca-5f4321123dee</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>9b510e1c-652a-405a-9797-4ff1245c1297</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf91ead0-1d49-4bd3-b174-24b9008b984c</Key>
      <Name>Sidebar links</Name>
      <Alias>sidebarLinks</Alias>
      <Definition>9d884075-ea30-4a20-9a1c-016ac789a663</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>40ea2c90-1abe-43e0-978a-7172533911d7</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>