<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6dd9c81a-fa5f-4097-a1f2-d00c68c47b5b" Alias="doctorFolder" Level="2">
  <Info>
    <Name>Doctors</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions />
    <DefaultTemplate>doctorFolder</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d8c0ecc2-ead5-4946-ab2a-e81e391d4e32">doctorFolder</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="285a0f02-22fd-4b76-bf4a-c49969e7df62" SortOrder="0">doctor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>