<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dcd4dd83-f8a1-42c4-8f54-bbd023b44c06" Alias="eServicesFolder" Level="2">
  <Info>
    <Name>E-services</Name>
    <Icon>icon-globe</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Lists the e-service pages below it, with filters by audience (patients, staff, suppliers, trainees, volunteers).</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions>
      <Composition Key="fba68520-43f3-4778-919b-68048d24aed8">blocksComposition</Composition>
      <Composition Key="2ff05280-28f9-444d-b943-81c12c58d9b2">pageHeaderComposition</Composition>
      <Composition Key="3f47f63a-8a9e-48ce-92eb-155620ba2a85">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>eServicesFolder</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f8bb2330-c9c0-48bb-9f67-d28143e82277">eServicesFolder</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="22c97d11-8beb-4ce4-b858-cd93c1fc2509" SortOrder="0">eService</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>