<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="48df0653-d03d-458f-b76d-d4860e6ba29d" Alias="healthToolsFolder" Level="2">
  <Info>
    <Name>Health tools</Name>
    <Icon>icon-calculator</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions>
      <Composition Key="fba68520-43f3-4778-919b-68048d24aed8">blocksComposition</Composition>
      <Composition Key="2ff05280-28f9-444d-b943-81c12c58d9b2">pageHeaderComposition</Composition>
      <Composition Key="3f47f63a-8a9e-48ce-92eb-155620ba2a85">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>healthToolsFolder</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aa088e3b-b1cd-4ac6-9a55-0be1ba437b7a">healthToolsFolder</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="73d6fc75-f5c9-4968-8840-10b2f078cd94" SortOrder="0">healthTool</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>