<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6855a28d-3b22-4650-95f4-f0a088c2b946" Alias="healthLibrary" Level="2">
  <Info>
    <Name>Health library</Name>
    <Icon>icon-books</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions>
      <Composition Key="fba68520-43f3-4778-919b-68048d24aed8">blocksComposition</Composition>
      <Composition Key="2ff05280-28f9-444d-b943-81c12c58d9b2">pageHeaderComposition</Composition>
      <Composition Key="3f47f63a-8a9e-48ce-92eb-155620ba2a85">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>healthLibrary</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="370176e2-2513-4f63-84e9-732212e2e41a">healthLibrary</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="abe7e3ef-cba4-463c-915f-488d0e93841d" SortOrder="0">healthArticle</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>