<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7b5f0501-9535-41be-8ab2-76801cb76a59" Alias="healthTest" Level="2">
  <Info>
    <Name>Health test or procedure</Name>
    <Icon>icon-lab</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions>
      <Composition Key="fba68520-43f3-4778-919b-68048d24aed8">blocksComposition</Composition>
      <Composition Key="2ff05280-28f9-444d-b943-81c12c58d9b2">pageHeaderComposition</Composition>
      <Composition Key="3f47f63a-8a9e-48ce-92eb-155620ba2a85">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>healthTest</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e4e300f1-c754-4c02-91d7-cfecd9b6be3c">healthTest</Template>
    </AllowedTemplates>
  </Info>
  <Structure></Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f70c760f-544d-496c-a349-439fe3833038</Key>
      <Name>Also known as</Name>
      <Alias>alsoKnownAs</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Other names and everyday words people search with, separated by commas.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>97c64246-f00c-4424-bd0b-52f98704f0ba</Key>
      <Name>Body systems</Name>
      <Alias>bodySystems</Alias>
      <Definition>836ae17a-e526-4e99-8f77-1381f5ac7840</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Where it shows on the body map and in the filters.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40adec59-e1db-4a57-a4bf-d2e001fd257c</Key>
      <Name>About the test</Name>
      <Alias>about</Alias>
      <Definition>9b510e1c-652a-405a-9797-4ff1245c1297</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff6a945f-9994-4611-b24a-53e9f2d14664</Key>
      <Name>Why it is done</Name>
      <Alias>why</Alias>
      <Definition>9b510e1c-652a-405a-9797-4ff1245c1297</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3d59757-8e4c-4440-8320-1cf26e326d0b</Key>
      <Name>How to prepare</Name>
      <Alias>prepare</Alias>
      <Definition>9b510e1c-652a-405a-9797-4ff1245c1297</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4a4af03-b49d-47b0-9ed9-1ba94818e0ad</Key>
      <Name>What happens</Name>
      <Alias>during</Alias>
      <Definition>9b510e1c-652a-405a-9797-4ff1245c1297</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6ab3195-480e-4bfc-8c59-542744eeb73d</Key>
      <Name>Results and afterwards</Name>
      <Alias>results</Alias>
      <Definition>9b510e1c-652a-405a-9797-4ff1245c1297</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8e69853f-f924-4d30-ae33-74989fbe43e9</Key>
      <Name>Risks</Name>
      <Alias>risks</Alias>
      <Definition>9b510e1c-652a-405a-9797-4ff1245c1297</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4a9ebc97-0593-4853-801f-62e25e246e3c</Key>
      <Name>Specialties</Name>
      <Alias>specialties</Alias>
      <Definition>86ca258e-64ed-4e6c-8e1c-38033246ffb3</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="care">Care and links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b4a6a9c0-82f0-45eb-ae71-78331358b246</Key>
      <Name>Facilities that offer it</Name>
      <Alias>careFacilities</Alias>
      <Definition>db70875f-4782-4f66-93b5-d2d50f969ec7</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="care">Care and links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca406412-1a37-4cf8-96da-3d1563b64c69</Key>
      <Name>Related conditions</Name>
      <Alias>relatedConditions</Alias>
      <Definition>5792e04e-d21b-4d30-94ba-3d527e60f6b1</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="care">Care and links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f5204ad-40c0-43b7-bc75-9d5b0ab3a8ee</Key>
      <Name>Reviewed by</Name>
      <Alias>reviewedBy</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Name and department of the clinician who reviewed it. Keep the placeholder until a real review is done.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="review">Clinical review</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ea7ac20-25f9-44b6-b4c8-c0c768926080</Key>
      <Name>Last clinical review</Name>
      <Alias>reviewedDate</Alias>
      <Definition>ec21206e-fdef-40a0-a41d-73e0e3959ef1</Definition>
      <Type>Umbraco.DateOnly</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Empty: the page shows "Awaiting clinical review".]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="review">Clinical review</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>34c5aca6-105e-49d3-a3e5-1cc2d926bee5</Key>
      <Name>Next review due</Name>
      <Alias>nextReview</Alias>
      <Definition>ec21206e-fdef-40a0-a41d-73e0e3959ef1</Definition>
      <Type>Umbraco.DateOnly</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="review">Clinical review</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>18aa5f91-5b34-46c9-9c7a-155dde96cf2d</Key>
      <Name>Sources</Name>
      <Alias>sources</Alias>
      <Definition>9d884075-ea30-4a20-9a1c-016ac789a663</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="review">Clinical review</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>68c68741-2ae4-4272-a776-d6ddf01ea217</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>2787b20d-23a4-475e-8b41-c51bdbe3bc7a</Key>
      <Caption>Care and links</Caption>
      <Alias>care</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>982a177a-994c-4cae-ac94-487a3ac248eb</Key>
      <Caption>Clinical review</Caption>
      <Alias>review</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>