<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fa56e4db-8266-47f8-ac54-1e5ba735e388" Alias="healthNetwork" Level="2">
  <Info>
    <Name>Health network</Name>
    <Icon>icon-sitemap</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions>
      <Composition Key="fba68520-43f3-4778-919b-68048d24aed8">blocksComposition</Composition>
      <Composition Key="2ff05280-28f9-444d-b943-81c12c58d9b2">pageHeaderComposition</Composition>
      <Composition Key="3f47f63a-8a9e-48ce-92eb-155620ba2a85">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>healthNetwork</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="758485a0-687c-4a87-9025-38ff50bb641f">healthNetwork</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a296ba29-3699-46ca-bdcd-e5465e4f552b" SortOrder="0">facility</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>