<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2342fd76-8f82-4806-bfd6-0f447c8b7285" Alias="healthLibrarySection" Level="2">
  <Info>
    <Name>Health library section</Name>
    <Icon>icon-books</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions>
      <Composition Key="fba68520-43f3-4778-919b-68048d24aed8">blocksComposition</Composition>
      <Composition Key="2ff05280-28f9-444d-b943-81c12c58d9b2">pageHeaderComposition</Composition>
      <Composition Key="3f47f63a-8a9e-48ce-92eb-155620ba2a85">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>healthLibrarySection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="38033c00-30dd-436d-8a12-8ce20fb9ea3e">healthLibrarySection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="eed23c47-6483-4ec5-9135-6bb7dae9caeb" SortOrder="0">healthCondition</ContentType>
    <ContentType Key="7b5f0501-9535-41be-8ab2-76801cb76a59" SortOrder="1">healthTest</ContentType>
    <ContentType Key="abe7e3ef-cba4-463c-915f-488d0e93841d" SortOrder="2">healthArticle</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>18092d29-5763-4246-a9cf-6687655bb853</Key>
      <Name>Section</Name>
      <Alias>sectionKind</Alias>
      <Definition>836bff61-e696-4388-8aa4-a9143940a838</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[What this section lists: conditions, tests and procedures, or healthy living articles.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>017e7df3-ec44-48aa-8645-3d321907222c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>