<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fbd9efe2-ca4a-4cb0-8259-afdac7fc4727" Alias="landingPage" Level="2">
  <Info>
    <Name>Landing page</Name>
    <Icon>icon-layout</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions>
      <Composition Key="fba68520-43f3-4778-919b-68048d24aed8">blocksComposition</Composition>
      <Composition Key="2ff05280-28f9-444d-b943-81c12c58d9b2">pageHeaderComposition</Composition>
      <Composition Key="3f47f63a-8a9e-48ce-92eb-155620ba2a85">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>landingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3ca258a6-8969-428b-a534-6626850e2de6">landingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fbd9efe2-ca4a-4cb0-8259-afdac7fc4727" SortOrder="0">landingPage</ContentType>
    <ContentType Key="29911f29-6855-4c4d-ad1a-295a81e0bbd0" SortOrder="1">contentPage</ContentType>
    <ContentType Key="ca0caa85-353b-44eb-a480-904f0c2ca3c0" SortOrder="2">specialtyFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>