<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee9e5cf1-79e0-4e85-abf0-3e01429d31fe" Alias="newsItem" Level="2">
  <Info>
    <Name>News item</Name>
    <Icon>icon-newspaper</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions>
      <Composition Key="2ff05280-28f9-444d-b943-81c12c58d9b2">pageHeaderComposition</Composition>
      <Composition Key="3f47f63a-8a9e-48ce-92eb-155620ba2a85">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>newsItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="da4f9f36-e206-4549-8627-9f34ba9a1895">newsItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b5899663-f0b4-408d-a2e3-46309c99213f</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>9b510e1c-652a-405a-9797-4ff1245c1297</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>20719e63-d013-41ba-9392-3649ebd8f0fa</Key>
      <Name>Category</Name>
      <Alias>category</Alias>
      <Definition>d0d5f465-5502-4506-9e42-e44637eab204</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65b28f68-e199-482e-952b-f3900d3f4553</Key>
      <Name>Publish date</Name>
      <Alias>publishDate</Alias>
      <Definition>ec21206e-fdef-40a0-a41d-73e0e3959ef1</Definition>
      <Type>Umbraco.DateOnly</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6f5bab13-94be-444c-a172-88db36ed4341</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>