<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4c9353fd-b719-4ab6-9513-86af8388d3cb" Alias="panelArt" Level="2">
  <Info>
    <Name>Panel: logo art</Name>
    <Icon>icon-target</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The logo orbit. It sits behind the other items in the panel. Shown on desktop only.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>