<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca0caa85-353b-44eb-a480-904f0c2ca3c0" Alias="specialtyFolder" Level="2">
  <Info>
    <Name>Specialties</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>EHC+-+Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3efa9619-858f-4715-badd-00b8d2e39f5a" SortOrder="0">specialty</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>